In [295]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression as LR
from sklearn.ensemble import RandomForestClassifier as RFC
from sklearn.ensemble import GradientBoostingClassifier as GBC
from sklearn.cross_validation import train_test_split
from sklearn.metrics import log_loss, auc, roc_curve
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.multiclass import OneVsOneClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report
%matplotlib inline

In [296]:
data = pd.read_csv('../ult_sign_scrape/race_master/master_database.csv')
fe2 = pd.read_csv('../ult_sign_scrape/race_master/master_database_fe2.csv')

In [297]:
clean = data.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
fe2_clean = fe2.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
fe2_clean.head()

,age,city,gender,participant_id,runner_rank,state,status,Age_Rank,Gender_Rank,Total_races
0,26,Boulder,M,7148,88.39,CO,1,0.7174,0.6806,23
1,33,Salt Lake City,M,221721,90.00,UT,1,0.8132,0.6987,9
2,43,Pocatello,M,20020,83.63,ID,1,0.8272,0.7145,17
3,36,Azumino City,M,25441,73.22,JPN,1,0.8995,0.8957,17
4,33,Salt Lake City,M,22562,87.77,UT,1,0.6807,0.6522,8

In [298]:
fe2_clean.head()

,age,city,gender,participant_id,runner_rank,state,status,Age_Rank,Gender_Rank,Total_races
0,26,Boulder,M,7148,88.39,CO,1,0.7174,0.6806,23
1,33,Salt Lake City,M,221721,90.00,UT,1,0.8132,0.6987,9
2,43,Pocatello,M,20020,83.63,ID,1,0.8272,0.7145,17
3,36,Azumino City,M,25441,73.22,JPN,1,0.8995,0.8957,17
4,33,Salt Lake City,M,22562,87.77,UT,1,0.6807,0.6522,8

In [299]:
clean.describe()

,age,participant_id,runner_rank,status,Age_Rank,Gender_Rank,Total_races
count,9574.000000,9.574000e+03,9574.000000,9574.000000,9574.000000,9574.000000,9574.000000
mean,42.769375,2.786174e+05,69.932166,1.466263,0.728514,0.665302,11.602883
std,9.827515,2.952671e+05,12.998598,0.588958,0.207281,0.174149,19.769396
min,0.000000,4.890000e+02,0.000000,1.000000,0.000000,0.000000,1.000000
25%,35.000000,2.421525e+04,63.010000,1.000000,0.672900,0.600425,1.000000
50%,42.000000,1.849000e+05,69.840000,1.000000,0.761450,0.678550,2.000000
75%,49.000000,4.457022e+05,77.460000,2.000000,0.848900,0.764200,15.000000
max,79.000000,1.180368e+06,100.000000,3.000000,1.000000,1.000000,247.000000

Interesting observation - Very little spread between 25-75% in age of entrants (35-49). Max is 79 and min is ~12 (some cleaning of 0/1 ages may be necessary). 39-44 is the most common ages with nearly 400 in each category. Mid-life crisis???

In [300]:
clean.corr()

,age,participant_id,runner_rank,status,Age_Rank,Gender_Rank,Total_races
age,1.000000,-0.279364,-0.217579,0.070143,-0.013940,-0.009565,-0.004130
participant_id,-0.279364,1.000000,-0.188576,-0.009449,-0.016588,-0.022745,-0.001725
runner_rank,-0.217579,-0.188576,1.000000,-0.189949,0.018092,0.014470,-0.001125
status,0.070143,-0.009449,-0.189949,1.000000,0.010826,0.013578,0.007525
Age_Rank,-0.013940,-0.016588,0.018092,0.010826,1.000000,0.772400,0.180406
Gender_Rank,-0.009565,-0.022745,0.014470,0.013578,0.772400,1.000000,0.162115
Total_races,-0.004130,-0.001725,-0.001125,0.007525,0.180406,0.162115,1.000000

Interesting observation - Appears that runner rank and age have the strongest relationships to the status column. Gender rank and age rank are similar in their relationship. Total races appears to have the weakest relationship for these features.

In [301]:
gender_dummies_fe = pd.get_dummies(fe2_clean.gender, prefix='gender')
gender_dummies = pd.get_dummies(clean.gender, prefix='gender')
state_dummies = pd.get_dummies(fe2_clean.state, prefix='Home_State')
clean = clean.join(gender_dummies)
fe2_clean = fe2_clean.join(gender_dummies_fe)
fe2_clean = fe2_clean.join(state_dummies)

In [302]:
def coding(col, codeDict):
    colCoded = pd.Series(col, copy=True)
    for key, value in codeDict.items():
        colCoded.replace(key, value, inplace=True)
    return colCoded
 
#Coding LoanStatus as Y=1, N=0:
print 'Before Coding:'
print pd.value_counts(clean["status"])
clean["status_coded"] = coding(clean["status"], {'1':0,'2':0, '3':1})
print '\nAfter Coding:'
print pd.value_counts(clean["status_coded"])

Before Coding:
1    5579
2    3526
3     469
Name: status, dtype: int64

After Coding:
0    9105
1     469
Name: status_coded, dtype: int64

In [275]:
clean.head()

,age,gender,participant_id,runner_rank,status,Age_Rank,Gender_Rank,Total_races,gender_F,gender_M,new_status,status_coded
0,26,M,7148,88.39,1,0.7174,0.6806,23,0.0,1.0,0,0
1,33,M,221721,90.00,1,0.8132,0.6987,9,0.0,1.0,0,0
2,43,M,20020,83.63,1,0.8272,0.7145,17,0.0,1.0,0,0
3,36,M,25441,73.22,1,0.8995,0.8957,17,0.0,1.0,0,0
4,33,M,22562,87.77,1,0.6807,0.6522,8,0.0,1.0,0,0

In [317]:
X

,age,runner_rank,status,Age_Rank,Gender_Rank,Total_races,gender_F,gender_M
0,26,88.39,1,0.7174,0.6806,23,0.0,1.0
1,33,90.00,1,0.8132,0.6987,9,0.0,1.0
2,43,83.63,1,0.8272,0.7145,17,0.0,1.0
3,36,73.22,1,0.8995,0.8957,17,0.0,1.0
4,33,87.77,1,0.6807,0.6522,8,0.0,1.0
5,40,97.10,1,0.7093,0.6828,29,1.0,0.0
6,43,92.88,1,0.7353,0.6750,3,0.0,1.0
7,42,86.89,1,0.7909,0.7061,3,0.0,1.0
8,24,81.55,1,0.7040,0.6567,1,0.0,1.0
9,40,78.75,1,0.7575,0.7261,1,0.0,1.0
10,32,77.42,1,0.7938,0.7605,1,0.0,1.0
11,28,84.67,1,0.6675,0.6269,1,0.0,1.0
12,36,93.85,1,0.8586,0.6299,1,1.0,0.0
13,38,79.28,1,0.8480,0.7799,1,0.0,1.0
14,44,80.18,1,0.5771,0.5771,1,0.0,1.0
15,39,77.17,1,0.7248,0.7112,1,0.0,1.0
16,49,74.72,1,0.0000,0.0000,1,0.0,1.0
17,44,82.53,1,0.8521,0.7924,4,0.0,1.0
18,34,91.01,1,0.7513,0.6737,4,1.0,0.0
19,35,83.15,1,0.8667,0.7128,3,0.0,1.0
20,50,85.48,1,0.6683,0.6085,3,0.0,1.0
21,25,77.06,1,0.8383,0.8037,27,0.0,1.0
22,45,74.86,1,0.8651,0.8120,15,0.0,1.0
23,40,75.61,1,0.5075,0.4937,2,0.0,1.0
24,53,74.57,1,0.7223,0.6507,4,0.0,1.0
25,38,75.41,1,0.8262,0.7193,1,0.0,1.0
26,31,82.68,1,0.0000,0.7151,1,0.0,1.0
27,29,79.00,1,0.7834,0.7764,17,0.0,1.0
28,32,85.42,1,0.8973,0.8416,1,1.0,0.0
29,48,80.17,1,0.9885,0.9885,1,0.0,1.0
...,...,...,...,...,...,...,...,...
9544,44,78.47,2,0.9461,0.8958,52,0.0,1.0
9545,64,59.98,2,0.6164,0.6164,1,0.0,1.0
9546,63,59.68,2,0.7086,0.6153,4,0.0,1.0
9547,37,49.07,2,0.8513,0.7954,6,0.0,1.0
9548,42,50.97,2,0.8423,0.8146,36,0.0,1.0
9549,33,79.73,2,0.6561,0.5846,18,0.0,1.0
9550,43,64.36,2,0.8324,0.7736,1,0.0,1.0
9551,34,77.64,2,0.6905,0.6905,1,0.0,1.0
9552,24,60.90,2,0.9631,0.8650,1,0.0,1.0
9553,50,73.96,2,0.9459,0.9366,30,1.0,0.0
9554,34,73.01,2,0.7179,0.6282,28,0.0,1.0
9555,41,70.13,2,0.9109,0.8760,26,0.0,1.0
9556,22,69.39,2,0.7586,0.7239,11,0.0,1.0
9557,31,66.93,2,0.9159,0.8435,26,1.0,0.0
9558,37,68.05,2,0.9673,0.9135,7,0.0,1.0
9559,41,69.12,2,0.7264,0.6926,6,0.0,1.0
9560,53,90.14,2,0.9556,0.8895,10,1.0,0.0
9561,36,61.55,2,0.7445,0.6710,15,1.0,0.0
9562,52,62.04,2,0.8281,0.6471,15,0.0,1.0
9563,23,71.49,2,0.8260,0.7438,8,0.0,1.0
9564,51,50.71,2,0.9031,0.8462,14,0.0,1.0
9565,34,58.18,2,0.7420,0.6878,1,0.0,1.0
9566,26,0.00,2,0.4803,0.4803,1,0.0,1.0
9567,25,0.00,2,0.7599,0.6515,3,1.0,0.0
9568,57,0.00,2,0.7432,0.5993,3,0.0,1.0
9569,38,83.39,2,0.6607,0.6521,1,1.0,0.0
9570,34,74.93,2,0.6775,0.6775,1,0.0,1.0
9571,29,67.75,3,0.8365,0.7736,30,1.0,0.0
9572,31,70.53,3,0.8457,0.7752,1,0.0,1.0
9573,32,74.83,3,0.9232,0.7838,1,0.0,1.0

Once adding gender dummies, it appears that gender in and of itself may not be a great predictor of race status. Appears to be ~75% male and 25% female particitation in these races.

In [303]:
y = clean.pop('status_coded')
clean.pop('participant_id')
clean.pop('gender')
X = clean

X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.3)

In [304]:
model = LR()
model.fit_transform(X_train, y_train)

/Users/stef/anaconda2/lib/python2.7/site-packages/sklearn/utils/deprecation.py:70: DeprecationWarning: Function transform is deprecated; Support to use estimators as feature selectors will be removed in version 0.19. Use SelectFromModel instead.
  warnings.warn(msg, category=DeprecationWarning)

array([[ 3.,  0.,  1.],
       [ 2.,  1.,  0.],
       [ 1.,  0.,  1.],
       ...,
       [ 1.,  0.,  1.],
       [ 2.,  0.,  1.],
       [ 1.,  0.,  1.]])

In [305]:
predicted = model.predict_proba(X_test)

In [306]:
log_loss(y_test, predicted)

0.00858366098108603

In [307]:
model2 = RFC(n_estimators=1000, criterion='entropy', random_state=1, n_jobs=2)
model2.fit(X_train, y_train)
predicted2 = model2.predict_proba(X_test)
log_loss(y_test, predicted2)

0.0035777936935930269

In [311]:
model3 = GBC()
model3.fit_transform(X_train, y_train)
predictions = model3.predict_proba(X_test)
log_loss(y_test, predictions)

/Users/stef/anaconda2/lib/python2.7/site-packages/sklearn/utils/deprecation.py:70: DeprecationWarning: Function transform is deprecated; Support to use estimators as feature selectors will be removed in version 0.19. Use SelectFromModel instead.
  warnings.warn(msg, category=DeprecationWarning)

0.00012132002698957209

In [313]:
fpr, tpr, thresholds = roc_curve(y_test, predictions)
#auc(fpr, tpr)

ValueError: bad input shape (2873, 2)

In [283]:

#fpr, tpr, thresholds = roc_curve(y_test, predictions)
#auc(fpr, tpr)

0.6046302345764859

ValueError: bad input shape (2873, 3)

In [285]:
neighbor = knn(n_neighbors=100, p=2, metric='minkowski')
neighbor.fit(X_train, y_train)
knn_predict = neighbor.predict_proba(X_test)
log_loss(y_test, knn_predict)

0.81956283718593126

In [248]:
target_names = ['Finished', 'DNF', 'DNS']
print classification_report(y_test, test, target_names=target_names)
print classification_report(y_test, predicted2, target_names=target_names)

             precision    recall  f1-score   support

   Finished       0.58      1.00      0.74      1670
        DNF       0.75      0.01      0.02      1054
        DNS       0.15      0.01      0.02       149

avg / total       0.62      0.58      0.44      2873

ValueError: Mix type of y not allowed, got types set(['continuous-multioutput', 'multiclass'])

In [314]:
predictions

array([[  9.99932250e-01,   6.77500730e-05],
       [  9.99932250e-01,   6.77500730e-05],
       [  9.99932250e-01,   6.77500730e-05],
       ...,
       [  9.99932250e-01,   6.77500730e-05],
       [  9.99932250e-01,   6.77500730e-05],
       [  9.99932250e-01,   6.77500730e-05]])