In [78]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import json
import sys
import pandas as pd
import os
reload(sys)
sys.setdefaultencoding('utf-8')

In [79]:
directory = 'clean_athlete'
athlete_list = []
for p, dirs, files in os.walk(directory):
        print [athlete_list.append(f) for f in files]

In [80]:
stef = pd.read_json('clean_athlete/Stefanie_Bernosky.csv_clean.csv')
stef_raw = pd.read_json('racers/Stefanie_Bernosky.csv')

In [81]:
stef_raw.head()

,Age,AgeRank,FirstName,Gender,Id,ImageId,LastName,Rank,Results,Status
0,34,0.7972,Stefanie,F,287280,8e3501d5-8bb2-4746-921e-0aeb91764939,Bernosky,0.7627,"[{u'status': -1, u'city': u'Silverton', u'phot...",0

In [82]:
stef.head()

,age,age_rank,city,drilldown,event_distance_id,eventdate,eventname,formattime,gender_place,photo_count,place,prior_count,race_count,runner_rank,state,status,time
0,35,0,Blairsville,1,38292,4/1/2017 12:00:00 AM,The Georgia Death Race - 68 Miler,0,0,0,0,0,0,0.0000,GA,-1,0
1,34,0,Easton,1,34327,8/27/2016 12:00:00 AM,Cascade Crest - 100 Miler,32:30:51,26,0,105,0,0,0.6881,WA,1,32:30:51
2,34,0,Sturgis,1,33530,6/24/2016 12:00:00 AM,Black Hills 100 - 50 Miler,11:27:36,6,0,16,0,0,0.8436,SD,1,11:27:36
3,34,0,Stinson Beach,0,33379,5/7/2016 12:00:00 AM,Miwok 100K - 100K,14:02:42,27,0,174,0,0,0.7420,CA,1,14:02:42
4,33,0,Huntsville,0,35690,2/6/2016 12:00:00 AM,Rocky Raccoon - 100 Miler,22:21:56,8,0,52,0,0,0.6676,TX,1,22:21:56

In [83]:
stef_raw = stef_raw.drop(['ImageId', 'Status', 'FirstName', 'LastName', 'Id', 'Results'], axis=1)
#stef_raw['future'] = (stef['status'] == -1).count()

In [85]:
stef_raw['race_total'] = stef['status'].count()

In [86]:
stef_raw.head()

   Age  AgeRank Gender    Rank  race_total
0   34   0.7972      F  0.7627          35

In [91]:
value = stef[stef['status']== -1].count()

In [92]:
value

age                  1
age_rank             1
city                 1
drilldown            1
event_distance_id    1
eventdate            1
eventname            1
formattime           1
gender_place         1
photo_count          1
place                1
prior_count          1
race_count           1
runner_rank          1
state                1
status               1
time                 1
dtype: int64