In [109]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import json
import sys
import pandas as pd
import os
reload(sys)
sys.setdefaultencoding('utf-8')

In [110]:
directory = 'clean_athlete'
athlete_list = []
for p, dirs, files in os.walk(directory):
        print [athlete_list.append(f) for f in files]

In [160]:
stef = pd.read_json('clean_athlete/Stefanie_Bernosky.csv_clean.csv')
jj2015 = pd.read_json('scraped_races/JJ2015.csv')
alan = pd.read_csv('clean_check1/Alan_Fischer.csv')
abe2 = pd.read_csv('clean_check1/Abraham_Moreno.csv')
amy = pd.read_json('racers/Amy_Ayre.csv')

In [163]:
alan.head()

,Unnamed: 0,age,age_rank,city,drilldown,event_distance_id,eventdate,eventname,formattime,gender_place,photo_count,place,prior_count,race_count,runner_rank,state,status,time
0,0,31,0,Queen Creek,1,33991,1/9/2016 12:00:00 AM,San Tan Scramble - 50K,4:59:15,7,0,7,0,0,0.7689,AZ,1,4:59:15

In [152]:
results = abe['Results'].values
results[1]
results = abe['Results'].values
json1_data = json.dumps(results[1])
results = json.loads(json1_data)
results_df = pd.DataFrame(results)
results_df

,age,age_rank,city,drilldown,event_distance_id,eventdate,eventname,formattime,gender_place,photo_count,place,prior_count,race_count,runner_rank,state,status,time
0,26,0,Goodyear,1,33996,1/23/2016 12:00:00 AM,Coldwater Rumble - 52 Miler,13:13:32,13,0,21,0,0,0.6278,AZ,1,13:13:32
1,26,0,Fountain Hills,1,31274,10/31/2015 12:00:00 AM,Javelina Jundred - 100 Miler,27:55:41,149,0,203,0,0,0.4949,AZ,1,27:55:41
2,25,0,Sonoita,1,28843,3/7/2015 12:00:00 AM,Old Pueblo - 50 Miler,10:45:27,31,0,34,0,0,0.6412,AZ,1,10:45:27
3,25,0,Fountain Hills,1,27560,11/1/2014 12:00:00 AM,Javelina Jundred - 100 Miler,28:42:44,173,0,250,0,0,0.5175,AZ,1,28:42:44
4,23,0,Waddell,1,16809,3/23/2013 12:00:00 AM,Mesquite Canyon - 50 Miler,11:53:11,10,0,15,0,0,0.6270,AZ,1,11:53:11
5,23,0,Goodyear,1,16797,1/19/2013 12:00:00 AM,Coldwater Rumble - 50K,6:12:50,16,0,20,0,0,0.6358,AZ,1,6:12:50
6,23,0,Fountain Hills,1,16744,9/29/2012 12:00:00 AM,Javelina Night Run - 50K,6:33:24,31,0,41,0,0,0.6027,AZ,1,6:33:24
7,21,0,Corvallis,1,17159,6/5/2011 12:00:00 AM,Run for the Hills - 8K,45:14,45,0,55,0,0,0.6485,OR,1,45:14
8,26,0,Pine,1,31851,9/26/2015 12:00:00 AM,Mogollon Monster 100 - 100 Miler,0,0,0,0,0,0,0.0000,AZ,2,0

In [113]:
stef_raw = stef_raw.drop(['ImageId', 'Status', 'FirstName', 'LastName', 'Results'], axis=1)
#stef_raw['future'] = (stef['status'] == -1).count()

In [114]:
stef_raw['race_total'] = stef['status'].count()

In [115]:
stef_raw.head()

   Age  AgeRank Gender      Id    Rank  race_total
0   34   0.7972      F  287280  0.7627          35

In [119]:
stef.info

<bound method DataFrame.info of     age  age_rank            city  drilldown  event_distance_id  \
0    35         0     Blairsville          1              38292
1    34         0          Easton          1              34327
2    34         0         Sturgis          1              33530
3    34         0   Stinson Beach          0              33379
4    33         0      Huntsville          0              35690
5    33         0          Sparks          1              35657
6    33         0  Fountain Hills          1              31274
7    33         0     Chattanooga          1              31114
8    33         0         Big Sky          0              34441
9    33         0        Oakridge          1              31244
10   33         0          Dallas          0              33937
11   32         0         Houston          1              28228
12   32         0    Ville Platte          1              27442
13   32         0    Bryce Canyon          1              24359
14   32         0       Needville          1              26707
15   32         0         Raleigh          0              28053
16   31         0       Meadville          1              24243
17   31         0    Ville Platte          1              19052
18   31         0      Smithville          0              20092
19   30         0    Rock Springs          0              19468
20   30         0      Huntsville          0              16123
21    0         0      Huntsville          0              18097
22   30         0      Huntsville          1              18174
23   30         0          Burnet          0              17664
24   30         0       Adamstown          1              16317
25   30         0       Spicewood          0              17501
26   30         0         Mohnton          0              41114
27   30         0      Huntsville          0              16452
28   29         0    Rock Springs          0              14552
29   29         0      Huntsville          0              13714
30    0         0      Huntsville          0              10930
31   29         0         Reading          1              12340
32   28         0    Philadelphia          1              13999
33   33         0            Bend          0              33187
34   32         0    Bryce Canyon          1              24358

                 eventdate                                         eventname  \
0     4/1/2017 12:00:00 AM                 The Georgia Death Race - 68 Miler
1    8/27/2016 12:00:00 AM                         Cascade Crest - 100 Miler
2    6/24/2016 12:00:00 AM                        Black Hills 100 - 50 Miler
3     5/7/2016 12:00:00 AM                                 Miwok 100K - 100K
4     2/6/2016 12:00:00 AM                         Rocky Raccoon - 100 Miler
5   11/28/2015 12:00:00 AM           North Central Trail Marathon - Marathon
6   10/31/2015 12:00:00 AM                      Javelina Jundred - 100 Miler
7    10/3/2015 12:00:00 AM                    Rock/Creek StumpJump 50K - 50K
8     9/5/2015 12:00:00 AM                                 Run the Rut - 50K
9    8/22/2015 12:00:00 AM                                      Waldo - 100K
10   7/25/2015 12:00:00 AM                              Fossil Valley - 9hrs
11  12/27/2014 12:00:00 AM                  Houston Running Festival - 12hrs
12   12/6/2014 12:00:00 AM       Cajun Coyote Ultras & Trail Run Fest - 100K
13   6/14/2014 12:00:00 AM                                   Bryce 100 - 50K
14   4/26/2014 12:00:00 AM                              Brazos Bend 50 - 25K
15    4/5/2014 12:00:00 AM                               Umstead - 100 Miler
16   3/22/2014 12:00:00 AM                  Equinox Ultras & Camp Fest - 50K
17   12/7/2013 12:00:00 AM       Cajun Coyote Ultras & Trail Run Fest - 100K
18    4/6/2013 12:00:00 AM                                 Hells Hills - 50K
19    3/2/2013 12:00:00 AM                              Nueces 50 - 50 Miler
20    2/2/2013 12:00:00 AM                         Rocky Raccoon - 100 Miler
21   12/1/2012 12:00:00 AM                           Texas Trails - 50 Miler
22   11/3/2012 12:00:00 AM                       Rocky Raccoon 50k/25k - 50K
23    9/2/2012 12:00:00 AM                Capt'n Karl's Reveille Ranch - 60K
24   8/18/2012 12:00:00 AM                                Mount Cuckoo - 30K
25   7/21/2012 12:00:00 AM               Capt'n Karl's - Muleshoe Bend - 30K
26   5/27/2012 12:00:00 AM  Charlie Horse Trail Half-Marathon - 1/2 Marathon
27   4/14/2012 12:00:00 AM                                  Hog's Hunt - 50K
28    3/3/2012 12:00:00 AM                                   Nueces 50 - 50K
29    2/4/2012 12:00:00 AM                          Rocky Raccoon - 50 Miler
30  12/10/2011 12:00:00 AM                                Texas Trails - 50K
31   10/2/2011 12:00:00 AM                                Blues Cruise - 50K
32  10/24/2010 12:00:00 AM                   Oktoberfest 13.1 - 1/2 Marathon
33    8/8/2015 12:00:00 AM                 Capt'n Karl's Colorado Bend - 60K
34   6/14/2014 12:00:00 AM                              Bryce 100 - 50 Miler

   formattime  gender_place  photo_count  place  prior_count  race_count  \
0           0             0            0      0            0           0
1    32:30:51            26            0    105            0           0
2    11:27:36             6            0     16            0           0
3    14:02:42            27            0    174            0           0
4    22:21:56             8            0     52            0           0
5     3:43:33            16            0     79            0           0
6    22:36:16            13            0     65            0           0
7     8:00:21            17            0    129            0           0
8    11:39:10            68            0    301            0           0
9    16:11:07            14            0     80            0           0
10      34.97             5            0     13            0           0
11         58             1            0      1            0           0
12   14:49:00             2            0      6            0           0
13    9:13:46            36            0     77            0           0
14    2:27:37            20            0     42            0           0
15   27:29:13            30            0    115            0           0
16    7:18:00             4            0     15            0           0
17   13:23:00             2            0      5            0           0
18    6:03:31             5            0     30            0           0
19   10:25:46            13            0     42            0           0
20   23:30:37            16            0     86            0           0
21    9:19:49             2            0      5            0           0
22    5:00:59             1            0      8            0           0
23    9:18:32             5            0     30            0           0
24    3:10:52             4            0     14            0           0
25    4:06:52            10            0     58            0           0
26    2:47:06            41            0    150            0           0
27    6:29:40            14            0     46            0           0
28    6:38:16             8            0     28            0           0
29   10:58:32            28            0    107            0           0
30    6:17:07            14            0     38            0           0
31    7:03:54            45            0    187            0           0
32    2:06:36            43            0    113            0           0
33          0             0            0      0            0           0
34          0             0            0      0            0           0

    runner_rank state  status      time
0        0.0000    GA      -1         0
1        0.6881    WA       1  32:30:51
2        0.8436    SD       1  11:27:36
3        0.7420    CA       1  14:02:42
4        0.6676    TX       1  22:21:56
5        0.8821    MD       1   3:43:33
6        0.6578    AZ       1  22:36:16
7        0.7329    TN       1   8:00:21
8        0.5517    MT       1  11:39:10
9        0.6627    OR       1  16:11:07
10       0.7647    TX       1     34.97
11       1.0000    TX       1        58
12       0.7177    LA       1  14:49:00
13       0.6270    UT       1   9:13:46
14       0.7785    TX       1   2:27:37
15       0.5503    NC       1  27:29:13
16       0.9315    MS       1   7:18:00
17       0.9589    LA       1  13:23:00
18       0.9573    TX       1   6:03:31
19       0.6607    TX       1  10:25:46
20       0.7196    TX       1  23:30:37
21       0.9526    TX       1   9:19:49
22       1.0000    TX       1   5:00:59
23       0.7192    TX       1   9:18:32
24       0.8396    PA       1   3:10:52
25       0.7558    TX       1   4:06:52
26       0.6858    PA       1   2:47:06
27       0.8058    TX       1   6:29:40
28       0.7333    TX       1   6:38:16
29       0.7921    TX       1  10:58:32
30       0.7434    TX       1   6:17:07
31       0.6106    PA       1   7:03:54
32       0.6730    PA       1   2:06:36
33       0.0000    TX       2         0
34       0.0000    UT       2         0  >

,age,age_rank,city,drilldown,event_distance_id,eventdate,eventname,formattime,gender_place,photo_count,place,prior_count,race_count,runner_rank,state,status,time
0,35,0,Blairsville,1,38292,4/1/2017 12:00:00 AM,The Georgia Death Race - 68 Miler,0,0,0,0,0,0,0.0000,GA,-1,0
1,34,0,Easton,1,34327,8/27/2016 12:00:00 AM,Cascade Crest - 100 Miler,32:30:51,26,0,105,0,0,0.6881,WA,1,32:30:51
2,34,0,Sturgis,1,33530,6/24/2016 12:00:00 AM,Black Hills 100 - 50 Miler,11:27:36,6,0,16,0,0,0.8436,SD,1,11:27:36
3,34,0,Stinson Beach,0,33379,5/7/2016 12:00:00 AM,Miwok 100K - 100K,14:02:42,27,0,174,0,0,0.7420,CA,1,14:02:42
4,33,0,Huntsville,0,35690,2/6/2016 12:00:00 AM,Rocky Raccoon - 100 Miler,22:21:56,8,0,52,0,0,0.6676,TX,1,22:21:56

In [164]:
df = pd.read_csv('athlete_dataframe/athletes_features')

In [168]:
df.describe()

,Unnamed: 0,Unnamed: 0.1,Age,AgeRank,Id,Rank,race_total
count,10771.000000,10771.000000,10771.000000,10771.000000,1.077100e+04,10771.000000,10771.000000
mean,1.148640,1.148640,44.193761,0.730008,4.439820e+05,0.666499,11.711169
std,2.249049,2.249049,15.645174,0.205510,3.667315e+05,0.172180,19.868235
min,0.000000,0.000000,0.000000,0.000000,4.890000e+02,0.000000,1.000000
25%,0.000000,0.000000,36.000000,0.674400,1.093275e+05,0.601700,1.000000
50%,0.000000,0.000000,43.000000,0.762200,3.482240e+05,0.679000,2.000000
75%,1.000000,1.000000,52.000000,0.849100,7.774225e+05,0.763850,15.000000
max,20.000000,20.000000,116.000000,1.000000,1.181851e+06,1.000000,247.000000