In [1]:
import requests
from selenium.webdriver import (Chrome)
from string import ascii_lowercase
from pymongo import MongoClient
from bs4 import BeautifulSoup
import json
import sys
import pandas as pd
import time
from scipy.stats import ttest_ind, kruskal
import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
def get_results(index_url):
    '''Starts web scraper to get table
    with runner results.  Returns column headers
    and result data.'''
    browser = Chrome()
    browser.get(index_url)
    sel = "gbox_list" 
    cascade100results=browser.find_element_by_id(sel) #setting a css selector
    table_rows = cascade100results.text.split('\n')
    runner_rows = [row.split() for row in table_rows]
    cols = runner_rows[0:10] #column headers
    content = runner_rows[11:] #the actual runner results
    return (cols, content)

In [3]:
root_url = 'http://ultrasignup.com'
index_url = root_url + '/results_event.aspx?did=41880'

In [4]:
cols, content = get_results(index_url=index_url)

In [5]:

#find index of Did Not Finish and Did Not Start
def find_idx(content):
    indices = []
    for idx, row in enumerate(content):
        if row[0] == 'Did':
            indices.append(idx)
    return indices

In [6]:
indices = find_idx(content)
indices

[109, 163]

In [7]:
finished = content[0:109]

In [8]:
DNF = content[111:163]

In [9]:
DNS = content[163:]

In [10]:
def make_finisher_df(content, idx_1):
    '''take in runner row content and the index
    indicating the end of the finishers list (idx_1).  
    return dataframe with the male and female times.'''
    finished = content[0:idx_1]
    gender = []
    times = []
    for row in finished:
        times.append(row[-2])
        gender.append(row[-4])
    df = pd.DataFrame({'Gender': gender, 'Time': times})
    df['Time'] = df['Time'].str.split(':')
    df['Time'] = df['Time'].apply(lambda x: int(x[0]) * 60 + int(x[1]) + float(x[2])/60)
    return df

In [11]:
cascade1002017 = make_finisher_df(content, indices[0])

In [12]:
males = cascade1002017[cascade1002017['Gender'] == 'M']

In [13]:
females = cascade1002017[cascade1002017['Gender'] == 'F']

In [14]:
females['Time'].mean()
females['Time'].sem()

32.17009942137171

In [15]:
males['Time'].mean()

1762.6929824561405

In [16]:
#t-test on males vs females finishing times
cascade_ttest2017 = ttest_ind(females['Time'], males['Time'], equal_var=False)

In [17]:
trace1 = [go.Bar(
    x=['Male', 'Female'],
    y=[males['Time'].mean(), females['Time'].mean()],
    name='Cascade Crest 100',
    error_y=dict(
        type='data',
        array=[males['Time'].sem(), females['Time'].sem()],
        visible=True
    )
)
         ]

In [18]:

py.iplot(trace1, filename='error-bar-bar')

In [19]:
def make_DNF_counts(DNF):
    '''Takes in the DNF list as an input
    and returns the male and female proportional counts.'''
    males = 0
    females = 0
    for row in DNF:
        if row[-3] == 'M':
            males +=1
        else:
            females += 1
    return males/len(DNF), females/len(DNF)

In [20]:
pct_male, pct_female = make_DNF_counts(DNF)

In [21]:
len(females)/len(content)

0.2

In [22]:
len(males)/len(content)

0.46060606060606063

In [23]:
len(males) + pct_male*len(DNF)

113.0

In [24]:
len(females) + pct_female*len(DNF)

48.0

In [25]:
48/(113+48) #30 pct of the entire field is female, 29% of DNFs are female

0.2981366459627329

In [26]:
113/(113+48) #70 pct of the entire field is male, 71% of the DNFs are male

0.7018633540372671

In [27]:
pct_female

0.28846153846153844

In [28]:
pct_male

0.7115384615384616

In [29]:
cc100_2018_url = root_url + '/results_event.aspx?did=51691'

In [30]:
cols_2, content_2 = get_results(cc100_2018_url)

In [31]:
find_idx(content_2)

[]

In [32]:
cascade1002018 = make_finisher_df(content_2, len(content_2))
len(cascade1002018)

146

In [33]:
males_2018 = cascade1002018[cascade1002018['Gender'] == 'M']

In [34]:
females_2018 = cascade1002018[cascade1002018['Gender'] == 'F']

In [35]:
#t-test on males vs females finishing times
cascade_ttest2018 = ttest_ind(females_2018['Time'], males_2018['Time'], equal_var=False)

In [36]:
trace4 = [go.Bar(
    x=['Male', 'Female'],
    y=[males_2018['Time'].mean(), females_2018['Time'].mean()],
    name='Cascade Crest 100 2018',
    error_y=dict(
        type='data',
        array=[males_2018['Time'].sem(), females_2018['Time'].sem()],
        visible=True
    )
)
         ]

In [37]:
py.iplot(trace4, filename='Cascade100_2018')

In [38]:
RRR100_2018_tortoises = root_url + '/results_event.aspx?did=60025'

In [39]:
cols_RRR, content_RRR = get_results(RRR100_2018_tortoises)

In [40]:
find_idx(content_RRR)

[]

In [41]:
RRR2018_tortoises = make_finisher_df(content_RRR, len(content_RRR))

In [42]:
male_tortoises = RRR2018_tortoises[RRR2018_tortoises['Gender'] == 'M']

In [43]:
female_tortoises = RRR2018_tortoises[RRR2018_tortoises['Gender'] == 'F']

In [44]:
RRR_tort_ttest = ttest_ind(female_tortoises['Time'], male_tortoises['Time'], equal_var=False)

In [45]:
len(RRR2018_tortoises)

166

In [46]:
trace2 = go.Bar(
    x=['Male', 'Female'],
    y=[male_tortoises['Time'].mean(), female_tortoises['Time'].mean()],
    name='RRR 100',
    error_y=dict(
        type='data',
        array=[male_tortoises['Time'].sem(), female_tortoises['Time'].sem()],
        visible=True
    )
)

In [47]:
data=go.Data([trace2])
layout=go.Layout(title="RRR Tortoises 100", xaxis={'title':'Gender'}, yaxis={'title':'Time(minutes)'})
figure=go.Figure(data=data,layout=layout)

/anaconda3/lib/python3.6/site-packages/plotly/graph_objs/_deprecations.py:39: DeprecationWarning:

plotly.graph_objs.Data is deprecated.
Please replace it with a list or tuple of instances of the following types
  - plotly.graph_objs.Scatter
  - plotly.graph_objs.Bar
  - plotly.graph_objs.Area
  - plotly.graph_objs.Histogram
  - etc.

In [48]:
py.iplot(figure, filename='error-bar-RRR', layout=layout)

In [49]:
hardrock100_url = root_url + '/results_event.aspx?did=51281'

In [50]:
cols_HR, content_HR = get_results(hardrock100_url)

In [51]:
indices = find_idx(content_HR)

In [52]:
HR_finishers = make_finisher_df(content_HR, indices[0])
len(HR_finishers)

113

In [53]:
DNF_HR = content_HR[indices[0]:]

In [54]:
HR_males = HR_finishers[HR_finishers["Gender"] == 'M']
HR_females = HR_finishers[HR_finishers["Gender"] == 'F']

In [55]:
HR_ttest = ttest_ind(HR_females['Time'], HR_males['Time'], equal_var=False)

In [56]:
def make_DNF_counts2(DNF):
    '''Takes in the DNF list as an input
    and returns the male and female proportional counts.'''
    males = 0
    females = 0
    for row in DNF:
        if row[-4] == 'M':
            males +=1
        else:
            females += 1
    return males/len(DNF), females/len(DNF)

In [57]:
DNF_HR_male, DNF_HR_female = make_DNF_counts2(DNF_HR)

In [58]:
DNF_HR_female

0.09090909090909091

In [59]:
DNF_HR_male

0.9090909090909091

In [60]:
len(HR_females)/len(HR_finishers)

0.09734513274336283

In [61]:
len(HR_males)/len(HR_finishers)

0.9026548672566371

In [62]:
HURT100url = root_url + '/results_event.aspx?did=56682'

In [63]:
cols_HURT, content_HURT = get_results(HURT100url)

In [64]:
idx_hurt = find_idx(content_HURT)
idx_hurt

[68, 130]

In [65]:
HURT_finishers = make_finisher_df(content_HURT, idx_hurt[0] )
len(HURT_finishers)

68

In [66]:
HURT_males = HURT_finishers[HURT_finishers["Gender"] == 'M']
HURT_females = HURT_finishers[HURT_finishers["Gender"] == 'F']

In [67]:
HURT_ttest = ttest_ind(HURT_females['Time'], HURT_males['Time'], equal_var=False)

In [68]:
JJ_url = root_url + '/results_event.aspx?did=53326'

In [69]:
JJ_cols, JJ_content = get_results(JJ_url)

In [70]:
idx_JJ = find_idx(JJ_content)

In [71]:
JJ_finishers = make_finisher_df(JJ_content, idx_JJ[0])
len(JJ_finishers)

367

In [72]:
JJ_males = JJ_finishers[JJ_finishers['Gender'] == 'M']
JJ_females = JJ_finishers[JJ_finishers['Gender'] == 'F']

In [73]:
JJ_ttest = ttest_ind(JJ_females['Time'], JJ_males['Time'], equal_var=False)
JJ_ttest

Ttest_indResult(statistic=5.590100276884938, pvalue=5.351719513378266e-08)

In [74]:
JJ_DNF = JJ_content[idx_JJ[0]:]

In [75]:
JJ_DNF_M, JJ_DNF_F = make_DNF_counts2(JJ_DNF)

In [76]:
JJ_DNF_M

0.7142857142857143

In [77]:
((JJ_DNF_M*len(JJ_DNF))+len(JJ_males))/len(JJ_content)

0.6820603907637656

In [78]:
((JJ_DNF_F*len(JJ_DNF))+ len(JJ_females))/len(JJ_content)

0.31793960923623443

In [79]:
Orcas_url = root_url + '/results_event.aspx?did=47664'

In [80]:
Orcas_cols, Orcas_content = get_results(Orcas_url)

In [81]:
idx_Orcas = find_idx(Orcas_content)
idx_Orcas

[68, 91]

In [82]:
Orcas_finishers = make_finisher_df(Orcas_content, idx_Orcas[0])

In [83]:
Orcas_males = Orcas_finishers[Orcas_finishers['Gender'] == 'M']
Orcas_females = Orcas_finishers[Orcas_finishers['Gender'] == 'F']

In [84]:
Orcas_ttest = ttest_ind(Orcas_females['Time'], Orcas_males['Time'], equal_var=False)
Orcas_ttest

Ttest_indResult(statistic=1.0244482021226133, pvalue=0.3115368992817924)

In [85]:
#kruskal-wallis test of median differences
KW_Orcas = kruskal(Orcas_females['Time'], Orcas_males['Time'])
KW_Orcas

KruskalResult(statistic=0.28208214231983675, pvalue=0.5953397432309312)

In [86]:
len(Orcas_finishers)

68

In [87]:
DNF_Orcas = Orcas_content[idx_Orcas[0]:]

In [88]:
DNF_M_ORCAS, DNF_F_ORCAS = make_DNF_counts(DNF_Orcas)

In [89]:
len(Orcas_males)/len(Orcas_finishers)

0.75

In [90]:
len(Orcas_females)/len(Orcas_finishers)

0.25

In [91]:
(DNF_F_ORCAS*len(DNF_Orcas) + len(Orcas_females))/len(Orcas_content)

0.3163265306122449

In [92]:
(DNF_M_ORCAS*len(DNF_Orcas) + len(Orcas_males))/len(Orcas_content)

0.6836734693877551

In [93]:
trace3 = go.Bar(
    x=['Male', 'Female'],
    y=[Orcas_males['Time'].mean(), Orcas_females['Time'].mean()],
    name='RRR 100',
    error_y=dict(
        type='data',
        array=[Orcas_males['Time'].sem(), Orcas_females['Time'].sem()],
        visible=True
    )
)

In [94]:
data=go.Data([trace3])
layout=go.Layout(title="Orcas 100", xaxis={'title':'Gender'}, yaxis={'title':'Time(minutes)'})
figure=go.Figure(data=data,layout=layout)

/anaconda3/lib/python3.6/site-packages/plotly/graph_objs/_deprecations.py:39: DeprecationWarning:

plotly.graph_objs.Data is deprecated.
Please replace it with a list or tuple of instances of the following types
  - plotly.graph_objs.Scatter
  - plotly.graph_objs.Bar
  - plotly.graph_objs.Area
  - plotly.graph_objs.Histogram
  - etc.

In [95]:
py.iplot(figure, filename='error-bar-Orcas100', layout=layout)

In [96]:
wasatch_url = root_url + '/results_event.aspx?did=52224'

In [97]:
wasatch_cols, wasatch_content = get_results(wasatch_url)

In [98]:
idx_wasatch = find_idx(wasatch_content)

In [99]:
idx_wasatch

[186]

In [100]:
wasatch_finishers = make_finisher_df(wasatch_content, idx_wasatch[0])

In [101]:
wasatch_finishers_M = wasatch_finishers[wasatch_finishers["Gender"] == 'M']
wasatch_finishers_F = wasatch_finishers[wasatch_finishers["Gender"] == 'F']

In [102]:
wasatch_ttest = ttest_ind(wasatch_finishers_F['Time'], wasatch_finishers_M['Time'], equal_var=False)
wasatch_ttest

Ttest_indResult(statistic=0.5360641108726018, pvalue=0.5943608058547083)

In [103]:
len(wasatch_finishers)

186

In [104]:
bear_url = root_url + '/results_event.aspx?did=50900'

In [105]:
bear_cols, bear_content = get_results(bear_url)

In [106]:
idx_bear = find_idx(bear_content)
idx_bear

[220, 317]

In [107]:
bear_finishers = make_finisher_df(bear_content, idx_bear[0])

In [108]:
bear_M = bear_finishers[bear_finishers['Gender'] == 'M']
bear_F = bear_finishers[bear_finishers['Gender'] == 'F']

In [109]:
bear_ttest = ttest_ind(bear_F['Time'], bear_M['Time'], equal_var=False)
bear_ttest

Ttest_indResult(statistic=2.8621153843332463, pvalue=0.005218411498656486)

In [110]:
len(bear_finishers)

220

In [111]:
GA_url = root_url + '/results_event.aspx?did=48295'

In [112]:
GA_cols, GA_content = get_results(GA_url)

In [113]:
idx_GA = find_idx(GA_content)

In [114]:
GA_finishers = make_finisher_df(GA_content, idx_GA[0])

In [115]:
GA_M = GA_finishers[GA_finishers['Gender'] == 'M']
GA_F = GA_finishers[GA_finishers['Gender'] == 'F']

In [116]:
GA_ttest = ttest_ind(GA_F['Time'], GA_M['Time'], equal_var=False)
GA_ttest

Ttest_indResult(statistic=1.120759069440516, pvalue=0.26861039619818877)

In [117]:
len(GA_finishers)

168

In [127]:
frames = ([GA_finishers, Orcas_finishers, JJ_finishers, cascade1002017, cascade1002018, bear_finishers, wasatch_finishers,
         HURT_finishers, HR_finishers, WSER_finishers])

In [128]:
concatenated = pd.concat(frames, ignore_index=True)

In [129]:
concatenated_M = concatenated[concatenated['Gender'] == "M"]
concatenated_F = concatenated[concatenated['Gender'] == 'F']

In [130]:
concatenated_ttest = ttest_ind(concatenated_F['Time'], concatenated_M['Time'], equal_var=False)

In [131]:
concatenated_ttest

Ttest_indResult(statistic=0.7462965793805261, pvalue=0.45571627680154625)

In [132]:
len(concatenated)

1743

In [133]:
WSER_url = root_url + '/results_event.aspx?did=51243'

In [121]:
WSER_cols, WSER_content = get_results(WSER_url)

In [122]:
idx_WSER = find_idx(WSER_content)
idx_WSER

[298]

In [123]:
WSER_finishers = make_finisher_df(WSER_content, idx_WSER[0])

In [124]:
WSER_M = WSER_finishers[WSER_finishers['Gender'] == 'M']
WSER_F = WSER_finishers[WSER_finishers['Gender'] == 'F']

In [125]:
WSER_ttest = ttest_ind(WSER_F['Time'], WSER_M['Time'], equal_var=False)
WSER_ttest

Ttest_indResult(statistic=-0.5124951139890147, pvalue=0.6095880492932007)

In [134]:
trace4 = go.Bar(
    x=['Male', 'Female'],
    y=[concatenated_M['Time'].mean(), concatenated_F['Time'].mean()],
    name='Mean Finish Times for 100 mile (or similar) Races',
    error_y=dict(
        type='data',
        array=[concatenated_M['Time'].sem(), concatenated_F['Time'].sem()],
        visible=True
    )
)

In [135]:
data=go.Data([trace4])
layout=go.Layout(title="Concatenated Mean Finish Times for 100 mile (or similar) Races", xaxis={'title':'Gender'}, yaxis={'title':'Time (minutes)'})
figure=go.Figure(data=data,layout=layout)

/anaconda3/lib/python3.6/site-packages/plotly/graph_objs/_deprecations.py:39: DeprecationWarning:

plotly.graph_objs.Data is deprecated.
Please replace it with a list or tuple of instances of the following types
  - plotly.graph_objs.Scatter
  - plotly.graph_objs.Bar
  - plotly.graph_objs.Area
  - plotly.graph_objs.Histogram
  - etc.

In [136]:
py.iplot(figure, filename='Concatenated 100', layout=layout)

In [137]:
concatenated.head()

  Gender        Time
0      M  743.516667
1      M  746.883333
2      M  748.950000
3      M  763.183333
4      M  799.483333

In [142]:
concatenated.columns

Index(['Gender', 'Time'], dtype='object')

In [145]:
sort_df = concatenated.sort_values(by=['Time'])

In [151]:
sort_df = sort_df.reset_index()

In [169]:
#analyzing the bottom 10% of WSER finishers

In [159]:
len(WSER_finishers)

298

In [165]:
bottom_10_WSER = WSER_finishers.iloc[-29:]

In [168]:
bottom_10_WSER.groupby(['Gender'])['Time'].mean()

Gender
F    1785.148148
M    1783.840000
Name: Time, dtype: float64

In [170]:
len(JJ_finishers)

367

In [171]:
bottom_10_JJ = JJ_finishers.iloc[-36:]

In [172]:
bottom_10_JJ.groupby(['Gender'])['Time'].mean() #difference between men and women for JJ bottom 10% negligible

Gender
F    1763.247222
M    1765.452778
Name: Time, dtype: float64

In [2]:
barr_df = pd.read_csv('/Users/elizabethguy/Downloads/Barr Trail Mountain Race Results July 15, 2018.csv')

In [5]:
barr_df_finishers = barr_df[barr_df['OA#'] != 'DNF']

In [10]:
barr_df_finishers['Finish'] = barr_df_finishers['Finish'].str.split(':')
barr_df_finishers['Finish'] = barr_df_finishers['Finish'].apply(lambda x: int(x[0]) * 60 + int(x[1]) + float(x[2])/60)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
barr_df_finishers_f = barr_df_finishers[barr_df_finishers['Sex'] == 'F']
barr_df_finishers_m = barr_df_finishers[barr_df_finishers['Sex'] == 'M']

In [14]:
barr_ttest = ttest_ind(barr_df_finishers_f['Finish'], barr_df_finishers_m['Finish'], equal_var=False)

In [15]:
barr_ttest

Ttest_indResult(statistic=4.969078492824927, pvalue=1.8819775068031565e-06)

In [18]:
barr_df_finishers_f.mean()

Unnamed: 0           NaN
Bib           165.028571
Age            39.614286
Finish        180.928810
dtype: float64

In [19]:
barr_df_finishers_m.mean()

Unnamed: 0           NaN
Bib           167.371728
Age            39.947644
Finish        162.036911
dtype: float64

In [20]:
barr_df_finishers.head(-10)

,Unnamed: 0,OA#,SEX#,AG#,Bib,Age,Sex,AG,Name,First,...,NoName,Bobs Road,Barr Camp,Bobs Road DN,NoName DN,Ws DN,Uphill,Downhill,Finish,Pace
0,NaN,1,1,1,373,39,M,35-39,Azarya Weldemariam,Azarya,...,0:30:36,0:40:48,0:58:43,1:11:03,1:17:26,1:24:26,0:58:43,0:36:51,95.566667,7:35/mi
1,NaN,2,2,1,307,24,M,20-24,Darren Thomas,Darren,...,0:31:16,0:41:46,1:00:09,1:12:26,1:18:39,1:25:23,1:00:09,0:35:50,96.000000,7:37/mi
2,NaN,3,3,2,143,36,M,35-39,Ben Payne,Ben,...,0:31:47,0:42:25,1:00:38,1:13:42,1:20:21,1:27:57,1:00:38,0:39:48,100.450000,7:58/mi
3,NaN,4,4,1,98,29,M,25-29,Andy Wacker,Andy,...,0:32:24,0:43:45,1:03:05,1:15:47,1:22:15,1:29:29,1:03:05,0:38:04,101.150000,8:02/mi
4,NaN,5,5,3,264,36,M,35-39,Dean Abel,Dean,...,0:34:02,0:45:28,1:05:52,1:19:26,1:26:18,1:33:40,1:05:52,0:39:52,105.750000,8:24/mi
5,NaN,6,6,2,82,26,M,25-29,Lindon David Powell,Lindon,...,0:37:01,NaN,1:08:18,1:21:34,1:28:08,1:35:21,1:08:18,0:38:32,106.850000,8:29/mi
6,NaN,7,7,1,113,30,M,30-34,Adam Doe,Adam,...,0:37:50,NaN,1:11:03,1:25:04,1:31:57,1:39:19,1:11:03,0:39:56,110.983333,8:49/mi
7,NaN,8,8,2,117,31,M,30-34,Brian A Folts,Brian,...,0:34:14,NaN,1:06:09,1:22:05,1:29:38,1:38:09,1:06:09,0:45:13,111.383333,8:50/mi
8,NaN,9,9,4,297,35,M,35-39,Levente Racz,Levente,...,0:35:52,NaN,1:09:16,1:24:25,1:31:37,1:39:28,1:09:16,0:42:29,111.766667,8:52/mi
9,NaN,10,10,3,28,28,M,25-29,Timothy Kojetin,Timothy,...,0:36:40,NaN,1:11:05,1:25:24,1:32:20,1:39:51,1:11:05,0:40:47,111.866667,8:53/mi
10,NaN,11,11,4,380,25,M,25-29,Connor Roche,Connor,...,0:39:09,NaN,1:13:21,1:26:50,1:33:26,1:40:38,1:13:21,0:38:42,112.066667,8:54/mi
11,NaN,12,12,5,70,25,M,25-29,Mark Allen Schenberger,Mark,...,0:36:31,NaN,1:09:52,1:24:20,1:32:04,1:40:14,1:09:52,0:42:48,112.683333,8:57/mi
12,NaN,13,13,2,22,22,M,20-24,Cooper Pauley,Cooper,...,0:35:53,NaN,1:10:31,1:25:15,1:32:29,1:40:28,1:10:31,0:42:10,112.700000,8:57/mi
13,NaN,14,14,1,293,19,M,15-19,Seth Michael Nolen,Seth,...,0:37:15,NaN,1:11:59,1:26:06,1:33:18,1:40:58,1:11:59,0:41:07,113.100000,8:59/mi
14,NaN,15,15,3,377,32,M,30-34,Jesse T Mascarenas,Jesse,...,0:37:20,NaN,1:11:24,1:26:24,1:33:50,1:41:39,1:11:24,0:42:41,114.083333,9:03/mi
15,NaN,16,16,1,210,45,M,45-49,CJ Hitz,CJ,...,0:36:05,NaN,1:10:37,1:26:06,1:33:30,1:41:31,1:10:37,0:43:51,114.466667,9:05/mi
16,NaN,17,17,3,288,20,M,20-24,Adam Mahler,Adam,...,0:37:37,NaN,1:11:38,1:26:33,1:34:02,1:42:50,1:11:38,0:44:54,116.533333,9:15/mi
17,NaN,18,18,1,286,40,M,40-44,Rob Kosick,Rob,...,0:38:09,NaN,1:13:02,1:28:31,1:36:02,1:44:29,1:13:02,0:44:50,117.866667,9:21/mi
18,NaN,19,19,4,289,32,M,30-34,Michael J Martinez,Michael,...,0:42:29,NaN,1:17:43,1:31:57,1:39:12,1:47:03,1:17:43,0:42:12,119.933333,9:31/mi
19,NaN,20,1,1,101,29,F,25-29,Kristina Marie Mascarenas,Kristina,...,0:41:36,NaN,1:19:38,1:33:53,1:40:56,1:48:23,1:19:38,0:40:50,120.483333,9:34/mi
20,NaN,21,20,2,176,41,M,40-44,Mathias Hasler,Mathias,...,0:39:56,NaN,1:16:55,1:32:05,1:40:06,1:48:24,1:16:55,0:44:39,121.566667,9:39/mi
21,NaN,22,2,1,269,38,F,35-39,Kim Rose Baugh,Kim,...,0:41:38,NaN,1:20:10,1:35:12,1:42:47,1:50:58,1:20:10,0:43:56,124.100000,9:51/mi
22,NaN,23,21,2,213,46,M,45-49,Gerald Romero,Gerald,...,0:41:04,NaN,1:17:53,1:33:58,1:41:55,1:50:34,1:17:53,0:46:56,124.833333,9:54/mi
23,NaN,24,22,3,181,42,M,40-44,Ryan McMullen,Ryan,...,0:38:08,NaN,1:15:33,1:32:46,1:41:11,1:50:22,1:15:33,0:49:26,125.000000,9:55/mi
24,NaN,25,23,4,17,22,M,20-24,Adam Holliday,Adam,...,0:40:48,NaN,1:18:25,1:33:50,1:41:56,1:51:13,1:18:25,0:46:50,125.250000,9:57/mi
25,NaN,26,24,6,379,28,M,25-29,Teo Jackson,Teo,...,0:41:56,NaN,1:20:13,1:35:56,1:44:08,1:52:37,1:20:13,0:45:03,125.283333,9:57/mi
26,NaN,27,3,2,65,25,F,25-29,Jessica Cygan,Jessica,...,0:40:29,NaN,1:18:33,1:34:39,1:42:50,1:51:53,1:18:33,0:47:09,125.700000,9:59/mi
27,NaN,28,25,7,84,27,M,25-29,Ryan Rebain,Ryan,...,0:41:17,NaN,1:21:00,1:37:45,1:45:32,1:53:59,1:21:00,0:45:38,126.633333,10:03/mi
28,NaN,29,26,5,140,36,M,35-39,Mark Lendzion,Mark,...,0:39:45,NaN,1:18:06,1:35:15,1:44:06,1:53:21,1:18:06,0:49:49,127.933333,10:09/mi
29,NaN,30,27,3,205,45,M,45-49,Sander Rigney,Sander,...,0:43:17,0:57:31,1:22:40,1:39:46,1:47:41,1:56:15,1:22:40,0:46:46,129.433333,10:16/mi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
221,NaN,222,169,3,69,69,M,65-69,Gary Censoplano,Gary,...,1:04:20,1:25:47,2:04:20,2:31:06,2:43:07,2:57:27,2:04:20,1:17:01,201.350000,15:59/mi
222,NaN,222,169,7,61,61,M,60-64,Randal Cuccio,Randal,...,0:55:48,1:16:17,1:52:41,2:23:02,2:38:43,2:55:34,1:52:41,1:28:40,201.350000,15:59/mi
223,NaN,222,169,33,145,36,M,35-39,Brendan Simbeck,Brendan,...,1:01:08,1:23:18,2:02:04,2:30:55,2:43:34,2:58:22,2:02:04,1:19:16,201.350000,15:59/mi
224,NaN,225,172,22,215,46,M,45-49,Tony Raia,Tony,...,1:01:15,1:23:21,2:02:05,2:30:58,2:43:46,2:58:22,2:02:05,1:19:17,201.383333,15:59/mi
225,NaN,226,54,7,284,47,F,45-49,Claudia Kirby,Claudia,...,1:03:54,1:25:02,2:04:03,2:32:50,2:46:00,3:00:26,2:04:03,1:17:24,201.466667,15:59/mi
226,NaN,227,173,15,263,52,M,50-54,Michael Danowski,Michael,...,1:02:56,1:24:16,2:02:05,2:32:38,2:45:51,3:00:24,2:02:05,1:19:55,202.000000,16:02/mi
227,NaN,228,55,6,112,30,F,30-34,Melissa Hamilton,Melissa,...,0:59:14,1:20:28,1:59:27,2:29:17,2:43:17,2:58:25,1:59:27,1:24:03,203.516667,16:09/mi
228,NaN,229,56,7,376,33,F,30-34,Grace Lineberg,Grace,...,1:02:51,1:25:28,2:05:41,2:35:28,2:47:34,3:00:32,2:05:41,1:17:55,203.616667,16:10/mi
229,NaN,230,174,26,179,41,M,40-44,Brian Hogan,Brian,...,1:00:10,1:21:07,1:59:29,2:28:18,2:41:41,2:57:26,1:59:29,1:24:11,203.666667,16:10/mi
230,NaN,231,175,25,32,32,M,30-34,Keaton Williams,Keaton,...,1:03:14,1:26:50,2:09:34,2:35:14,2:47:37,3:02:20,2:09:34,1:14:08,203.716667,16:10/mi
231,NaN,232,176,27,41,41,M,40-44,David Brakefield,David,...,1:00:44,1:23:18,2:03:53,2:30:56,2:43:42,2:58:14,2:03:53,1:20:03,203.950000,16:11/mi
232,NaN,233,177,16,10,50,M,50-54,Kip Russell,Kip,...,1:04:35,1:26:58,2:06:46,2:33:27,2:46:19,3:01:14,2:06:46,1:17:36,204.383333,16:13/mi
233,NaN,234,178,24,29,29,M,25-29,Brent Erickson,Brent,...,1:00:58,1:21:16,1:59:45,2:28:41,2:42:21,2:58:51,1:59:45,1:25:34,205.316667,16:18/mi
234,NaN,235,57,8,174,41,F,40-44,Kari Taylor-Romero,Kari,...,1:08:47,1:32:31,2:13:54,2:40:32,2:52:20,3:05:22,2:13:54,1:12:33,206.466667,16:23/mi
235,NaN,236,58,8,228,49,F,45-49,Lynne Day,Lynne,...,1:03:41,1:26:23,2:08:08,2:36:31,2:50:16,3:04:50,2:08:08,1:18:36,206.733333,16:24/mi
236,NaN,237,179,9,253,58,M,55-59,Dennis Thies,Dennis,...,1:03:25,1:26:42,2:06:51,2:33:16,2:46:02,3:00:36,2:06:51,1:19:59,206.833333,16:25/mi
237,NaN,238,180,28,201,44,M,40-44,Nathan Lyons,Nathan,...,1:06:28,1:28:11,2:08:27,2:37:04,2:49:35,3:04:09,2:08:27,1:18:28,206.933333,16:25/mi
238,NaN,239,181,8,383,63,M,60-64,Gregg Randolph,Gregg,...,1:01:25,1:21:53,2:00:41,2:32:01,2:46:42,3:03:43,2:00:41,1:26:33,207.250000,16:27/mi
239,NaN,240,59,9,214,46,F,45-49,Jessica Lynn Leto,Jessica,...,1:03:50,1:25:53,2:07:25,2:36:56,2:50:45,3:05:40,2:07:25,1:20:56,208.350000,16:32/mi
240,NaN,241,182,9,62,62,M,60-64,Greg Gibbons,Greg,...,1:02:07,1:25:03,2:05:37,2:37:51,2:51:08,3:06:04,2:05:37,1:23:13,208.833333,16:34/mi
241,NaN,242,60,3,242,54,F,50-54,Kimberly Bodoh,Kimberly,...,1:05:06,1:27:49,2:10:25,2:39:51,2:52:29,3:07:18,2:10:25,1:19:28,209.900000,16:40/mi
242,NaN,OCO,~~,~~,197,44,M,40-44,Tino Khne,Tino,...,1:00:40,1:21:28,2:01:24,2:31:53,2:47:34,3:04:24,2:01:24,1:29:06,210.500000,16:42/mi
243,NaN,OCO,~~,~~,375,36,M,35-39,Michael Quinene,Michael,...,1:06:33,1:30:16,2:13:54,2:42:34,2:54:38,3:09:13,2:13:54,1:17:22,211.266667,16:46/mi
244,NaN,OCO,~~,~~,163,39,F,35-39,Jeana Connaughton,Jeana,...,1:06:25,1:32:11,2:12:43,2:42:46,2:55:58,3:11:10,2:12:43,1:19:37,212.333333,16:51/mi
245,NaN,OCO,~~,~~,226,49,F,45-49,Maria Seman,Maria,...,1:03:17,1:26:19,2:11:22,2:40:44,2:54:14,3:09:25,2:11:22,1:21:19,212.700000,16:53/mi
246,NaN,OCO,~~,~~,185,42,F,40-44,Heidi Hayes,Heidi,...,1:11:19,1:36:43,2:21:39,2:48:23,2:59:44,3:12:46,2:21:39,1:12:23,214.050000,16:59/mi
247,NaN,OCO,~~,~~,171,41,F,40-44,Amy L Miller,Amy,...,1:10:59,1:36:46,2:21:18,2:48:34,2:59:51,3:12:51,2:21:18,1:12:44,214.050000,16:59/mi
248,NaN,OCO,~~,~~,83,27,F,25-29,Krystal Peeples,Krystal,...,1:07:00,1:32:19,2:16:22,2:43:50,2:57:24,3:12:21,2:16:22,1:19:43,216.083333,17:09/mi
249,NaN,OCO,~~,~~,302,53,M,50-54,J. D. Sandfort,J. D.,...,1:09:18,1:32:02,2:15:09,2:47:06,2:59:05,3:14:18,2:15:09,1:21:59,217.133333,17:14/mi
250,NaN,OCO,~~,~~,135,35,F,35-39,Kathleen S Berry,Kathleen,...,1:02:27,1:27:57,2:10:44,2:42:19,2:54:44,3:09:46,2:10:44,1:28:00,218.750000,17:22/mi