In [166]:
import requests
from selenium.webdriver import (Chrome)
from string import ascii_lowercase
from pymongo import MongoClient
from bs4 import BeautifulSoup
import json
import sys
import pandas as pd
import time
from scipy.stats import ttest_ind, kruskal
import plotly.plotly as py
import plotly.graph_objs as go

In [14]:

r = requests.get(index_url)  # Fetch the web page
html = r.content  # Store the HTML content as a string

In [15]:
soup = BeautifulSoup(html, 'html.parser')

In [18]:
print (soup.title)

<title>
	2017 Cascade Crest 100 Miler - Results
</title>

In [20]:
for a in soup.findAll('link'):
    print (a['href'])

/favicon.ico
/css/jquery-ui-1.10.3.custom.min.css
/content/acorn_css?v=NuZ1MsCSr_VTh4pgnSm7aC412gvnZ1GFo_FIpsbk7Fo1
//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css
/themes/ui.jqgrid.css

In [7]:
def get_results(index_url):
    '''Starts web scraper to get table
    with runner results.  Returns column headers
    and result data.'''
    browser = Chrome()
    browser.get(index_url)
    sel = "gbox_list" 
    cascade100results=browser.find_element_by_id(sel) #setting a css selector
    table_rows = cascade100results.text.split('\n')
    runner_rows = [row.split() for row in table_rows]
    cols = runner_rows[0:10] #column headers
    content = runner_rows[11:] #the actual runner results
    return (cols, content)

In [10]:
root_url = 'http://ultrasignup.com'
index_url = root_url + '/results_event.aspx?did=41880'

In [11]:
cols, content = get_results(index_url=index_url)

In [13]:
content

[['results',
  '2',
  'Matthew',
  'Urbanski',
  'Seattle',
  'WA',
  '36',
  'M',
  '2',
  '20:11:25',
  '85.67'],
 ['results',
  '3',
  'Ben',
  'Koss',
  'San',
  'Francisco',
  'CA',
  '37',
  'M',
  '3',
  '22:09:00',
  '89.34'],
 ['results',
  '4',
  'Jesse',
  'Rickert',
  'Gunnison',
  'CO',
  '45',
  'M',
  '4',
  '22:10:27',
  '89.76'],
 ['results',
  '5',
  'Kaytlyn',
  'Gerbin',
  'Issaquah',
  'WA',
  '28',
  'F',
  '1',
  '22:22:45',
  '95.69'],
 ['results',
  '6',
  'Michael',
  'Hauser',
  'Olympia',
  'WA',
  '27',
  'M',
  '5',
  '23:21:03',
  '76.04'],
 ['results',
  '7',
  'Ashley',
  'Nordell',
  'Sisters',
  'OR',
  '37',
  'F',
  '2',
  '23:21:07',
  '97.99'],
 ['results',
  '8',
  'Phil',
  'Shaw',
  'Seattle',
  'WA',
  '31',
  'M',
  '6',
  '23:22:54',
  '91.2'],
 ['results',
  '9',
  'Kedric',
  'Osborne',
  'Klamath',
  'Falls',
  'OR',
  '40',
  'M',
  '7',
  '23:27:27',
  '87.69'],
 ['results',
  '10',
  'Nicholas',
  'Hanson',
  'Kalamazoo',
  'MI',
  '35',
  'M',
  '8',
  '23:30:48',
  '89.74'],
 ['results',
  '11',
  'Adam',
  'Harris',
  'North',
  'Vancouver',
  'BC',
  '30',
  'M',
  '9',
  '23:45:43',
  '86.8'],
 ['results',
  '12',
  'Ted',
  'Bross',
  'Dayton',
  'OH',
  '28',
  'M',
  '10',
  '23:50:12',
  '82.6'],
 ['results',
  '13',
  'Arthur',
  'Martineau',
  'Renton',
  'WA',
  '49',
  'M',
  '11',
  '24:30:50',
  '80.21'],
 ['results',
  '14',
  'Jeff',
  'Pelletier',
  'Vancouver',
  'BC',
  '36',
  'M',
  '12',
  '24:38:37',
  '79.31'],
 ['results',
  '15',
  'Jess',
  'Mullen',
  'Seattle',
  'WA',
  '42',
  'F',
  '3',
  '24:42:36',
  '83.32'],
 ['results',
  '16',
  'Chris',
  'Dickey',
  'Gunnison',
  'CO',
  '46',
  'M',
  '13',
  '24:52:50',
  '83.12'],
 ['results',
  '17',
  'Nathan',
  'Kurz',
  'Kenmore',
  'WA',
  '35',
  'M',
  '14',
  '25:15:32',
  '77.62'],
 ['results',
  '18',
  'Ryan',
  'Dotson',
  'Seattle',
  'WA',
  '41',
  'M',
  '15',
  '25:52:41',
  '78.02'],
 ['results',
  '19',
  'Carly',
  'Koerner',
  'Ashland',
  'OR',
  '36',
  'F',
  '4',
  '25:54:25',
  '79.03'],
 ['results',
  '20',
  'Tom',
  'Craik',
  'Coldstream',
  'BC',
  '43',
  'M',
  '16',
  '25:55:18',
  '82.75'],
 ['results',
  '21',
  'Steven',
  'Kent',
  'North',
  'Bend',
  'WA',
  '50',
  'M',
  '17',
  '26:07:43',
  '84.76'],
 ['results',
  '22',
  'Robert',
  'Lalus',
  'Renton',
  'WA',
  '43',
  'M',
  '18',
  '26:19:28',
  '75.85'],
 ['results',
  '23',
  'Alex',
  'Giebelhaus',
  'Bellingham',
  'WA',
  '27',
  'M',
  '19',
  '26:37:01',
  '76.77'],
 ['results',
  '24',
  'Tim',
  'Stroh',
  'Arlington',
  'WA',
  '55',
  'M',
  '20',
  '26:45:29',
  '84.15'],
 ['results',
  '25',
  'Oleg',
  'Tabelev',
  'Calgary',
  'AB',
  '51',
  'M',
  '21',
  '26:47:08',
  '90.22'],
 ['results',
  '26',
  'Michael',
  'Hinterberg',
  'Loveland',
  'CO',
  '38',
  'M',
  '22',
  '26:54:50',
  '84.01'],
 ['results',
  '27',
  'Bibo',
  'Gao',
  'Buffalo',
  'Grove',
  'IL',
  '39',
  'F',
  '5',
  '27:02:18',
  '91.1'],
 ['results',
  '28',
  'Stephanie',
  'Gundel',
  'Seattle',
  'WA',
  '37',
  'F',
  '6',
  '27:05:17',
  '86.19'],
 ['results',
  '29',
  'Max',
  'Fulton',
  'Wheat',
  'Ridge',
  'CO',
  '41',
  'M',
  '23',
  '27:17:50',
  '77.16'],
 ['results',
  '30',
  'Jimmy',
  'Dean',
  'Freeman',
  'Los',
  'Angeles',
  'CA',
  '40',
  'M',
  '24',
  '27:23:02',
  '79.87'],
 ['results',
  '31',
  'Seth',
  'Wolpin',
  'Seattle',
  'WA',
  '45',
  'M',
  '25',
  '27:32:16',
  '65.16'],
 ['results',
  '32',
  'Jeramie',
  'Mcdonough',
  'Salt',
  'Lake',
  'City',
  'UT',
  '28',
  'M',
  '26',
  '27:33:30',
  '74.34'],
 ['results',
  '33',
  'Ashley',
  'Clinthorne',
  'Lakewood',
  'CO',
  '30',
  'F',
  '7',
  '27:49:08',
  '87.9'],
 ['results',
  '34',
  'Matt',
  'Barry',
  'North',
  'Vancouver',
  'BC',
  '30',
  'M',
  '27',
  '27:53:16',
  '80.48'],
 ['results',
  '35',
  'Alexa',
  'Laidlaw',
  'North',
  'Vancouver',
  'BC',
  '28',
  'F',
  '8',
  '27:53:24',
  '87.21'],
 ['results',
  '36',
  'Garry',
  'Harrington',
  'Swanzey',
  'NH',
  '57',
  'M',
  '28',
  '27:57:09',
  '78.62'],
 ['results',
  '37',
  'Jeff',
  'Wolf',
  'Seattle',
  'WA',
  '40',
  'M',
  '29',
  '27:57:12',
  '79.37'],
 ['results',
  '38',
  'Amy',
  'Burton',
  'San',
  'Jose',
  'CA',
  '43',
  'F',
  '9',
  '27:57:44',
  '90.61'],
 ['results',
  '39',
  'Jean',
  'Coulter',
  'Boulder',
  'CO',
  '45',
  'F',
  '10',
  '28:01:04',
  '78.36'],
 ['results',
  '40',
  'Paul',
  'Heffernan',
  'Wenatchee',
  'WA',
  '43',
  'M',
  '30',
  '28:26:07',
  '71.04'],
 ['results',
  '41',
  'Kathleen',
  'Egan',
  'Seattle',
  'WA',
  '44',
  'F',
  '11',
  '28:28:56',
  '89.75'],
 ['results',
  '42',
  'Debbie',
  'Livingston',
  'Bolton',
  'CT',
  '42',
  'F',
  '12',
  '28:36:58',
  '92.86'],
 ['results',
  '43',
  'Diarmuid',
  'Truax',
  'Denver',
  'CO',
  '47',
  'M',
  '31',
  '28:40:15',
  '65.18'],
 ['results',
  '44',
  'Deron',
  'Carter',
  'Corvallis',
  'OR',
  '43',
  'M',
  '32',
  '28:44:26',
  '74.66'],
 ['results',
  '45',
  'Sean',
  'Patrick',
  'Aliso',
  'Viejo',
  'CA',
  '37',
  'M',
  '33',
  '28:55:24',
  '65.79'],
 ['results',
  '46',
  'Kelsey',
  'Wilmore',
  'Bellingham',
  'WA',
  '30',
  'F',
  '13',
  '28:57:27',
  '83.81'],
 ['results',
  '47',
  'Anne',
  'Miller',
  'Corvallis',
  'OR',
  '52',
  'F',
  '14',
  '29:04:25',
  '73.72'],
 ['results',
  '48',
  'Rich',
  'Ainley',
  'Okuku',
  'RD3',
  '43',
  'M',
  '34',
  '29:06:31',
  '69.18'],
 ['results',
  '49',
  'Michael',
  'Linscott',
  'Bellevue',
  'WA',
  '46',
  'M',
  '35',
  '29:19:23',
  '76.7'],
 ['results',
  '50',
  'John',
  'Rodakowski',
  'Olympia',
  'WA',
  '52',
  'M',
  '36',
  '29:37:24',
  '77.87'],
 ['results',
  '51',
  'Christophe',
  'Block',
  'Roland',
  'AR',
  '36',
  'M',
  '37',
  '29:42:20',
  '85.74'],
 ['results',
  '52',
  'Deanna',
  'Odell',
  'Santa',
  'Barbara',
  'CA',
  '50',
  'F',
  '15',
  '29:43:25',
  '87'],
 ['results',
  '53',
  'Steven',
  'Pack',
  'Brooklyn',
  'NY',
  '36',
  'M',
  '38',
  '29:43:55',
  '78.09'],
 ['results',
  '54',
  'Morgan',
  'Henderson',
  'Seattle',
  'WA',
  '39',
  'M',
  '39',
  '29:54:22',
  '69.92'],
 ['results',
  '55',
  'Nicholas',
  'Bulson',
  'Saint',
  'Joseph',
  'MI',
  '32',
  'M',
  '40',
  '30:34:57',
  '75.88'],
 ['results',
  '56',
  'Emily',
  'Halnon',
  'Eugene',
  'OR',
  '32',
  'F',
  '16',
  '30:58:19',
  '85.11'],
 ['results',
  '57',
  'Monica',
  'Ochs',
  'Anacortes',
  'WA',
  '48',
  'F',
  '17',
  '30:59:50',
  '86.57'],
 ['results',
  '58',
  'Van',
  'Phan',
  'Maple',
  'Valley',
  'WA',
  '46',
  'F',
  '18',
  '30:59:50',
  '85.52'],
 ['results',
  '59',
  'Shawn',
  'McTaggart',
  'Palmer',
  'AK',
  '40',
  'F',
  '19',
  '31:05:46',
  '82.5'],
 ['results',
  '60',
  'Ricardo',
  'Hoffman',
  'Seattle',
  'WA',
  '35',
  'M',
  '41',
  '31:11:14',
  '78.48'],
 ['results',
  '61',
  'Birgitte',
  'Marthinsen',
  'Squamish',
  'BC',
  '42',
  'F',
  '20',
  '31:15:38',
  '81.23'],
 ['results',
  '62',
  'Matt',
  'Hall',
  'Squamish',
  'BC',
  '35',
  'M',
  '42',
  '31:16:14',
  '81.24'],
 ['results',
  '63',
  'Ruchel',
  'Stevens',
  'Canmore',
  'AB',
  '30',
  'F',
  '21',
  '31:16:14',
  '80.83'],
 ['results',
  '64',
  'Neal',
  'Saxe',
  'Bellingham',
  'WA',
  '49',
  'M',
  '43',
  '31:28:41',
  '71.18'],
 ['results',
  '65',
  'Andreas',
  'Aguirre',
  'San',
  'Diego',
  'CA',
  '38',
  'M',
  '44',
  '31:29:10',
  '74.29'],
 ['results',
  '66',
  'Jared',
  'Friesen',
  'Spokane',
  'WA',
  '35',
  'M',
  '45',
  '31:30:10',
  '69.94'],
 ['results',
  '67',
  'Emily',
  'Compton',
  'Canmore',
  'AB',
  '31',
  'F',
  '22',
  '31:30:31',
  '81.99'],
 ['results',
  '68',
  'Mike',
  'Morcos',
  'Redmond',
  'WA',
  '39',
  'M',
  '46',
  '31:34:15',
  '67.73'],
 ['results',
  '69',
  'Richard',
  'Benoit',
  'Portland',
  'OR',
  '49',
  'M',
  '47',
  '31:34:39',
  '65.14'],
 ['results',
  '70',
  'Rachel',
  'Baird',
  'Spokane',
  'WA',
  '42',
  'F',
  '23',
  '31:37:33',
  '85.09'],
 ['results',
  '71',
  'Noah',
  'Pittard',
  'Denver',
  'CO',
  '44',
  'M',
  '48',
  '31:38:28',
  '62.98'],
 ['results',
  '72',
  'James',
  'Leask',
  'London',
  '36',
  'M',
  '49',
  '31:39:59',
  '65.7'],
 ['results',
  '73',
  'Geoffrey',
  'Tripp',
  'Bothell',
  'WA',
  '36',
  'M',
  '50',
  '31:45:52',
  '69.18'],
 ['results',
  '74',
  'Andy',
  'Healey',
  'Vancouver',
  'BC',
  '48',
  'M',
  '51',
  '31:46:01',
  '63.11'],
 ['results',
  '75',
  'Kelly',
  'Bird',
  'Bellingham',
  'WA',
  '34',
  'F',
  '24',
  '31:48:45',
  '76.98'],
 ['results',
  '76',
  'Travis',
  'Lund',
  'Pacific',
  'Grove',
  'CA',
  '49',
  'M',
  '52',
  '31:48:52',
  '65.21'],
 ['results',
  '77',
  'Corey',
  'Bransfield',
  'Kelowna',
  'BC',
  '46',
  'M',
  '53',
  '31:50:29',
  '69.13'],
 ['results',
  '78',
  'Rick',
  'Hoopes',
  'Oceanside',
  'CA',
  '62',
  'M',
  '54',
  '31:51:19',
  '78.32'],
 ['results',
  '79',
  'Phillip',
  'Nigh',
  'Goleta',
  'CA',
  '55',
  'M',
  '55',
  '31:57:07',
  '71.54'],
 ['results',
  '80',
  'Brian',
  'Landau',
  'Seattle',
  'WA',
  '48',
  'M',
  '56',
  '32:02:18',
  '69.87'],
 ['results',
  '81',
  'Greg',
  'Hanscom',
  'Seattle',
  'WA',
  '44',
  'M',
  '57',
  '32:03:09',
  '73.4'],
 ['results',
  '82',
  'Janos',
  'Orsos',
  'Bishops',
  'Stortford',
  '32',
  'M',
  '58',
  '32:04:21',
  '69.16'],
 ['results',
  '83',
  'Ayumu',
  'Tsukada',
  'Osaka',
  'city',
  '46',
  'M',
  '59',
  '32:24:49',
  '55.54'],
 ['results',
  '84',
  'Lauren',
  'Matosziuk',
  'Corvallis',
  'OR',
  '30',
  'F',
  '25',
  '32:39:10',
  '75.4'],
 ['results',
  '85',
  'Terry',
  'Gardiner',
  'Seattle',
  'WA',
  '67',
  'M',
  '60',
  '32:43:10',
  '65.86'],
 ['results',
  '86',
  'David',
  'Williamson',
  'Issaquah',
  'WA',
  '44',
  'M',
  '61',
  '32:45:45',
  '57.86'],
 ['results',
  '87',
  'Genia',
  'McKnight',
  'Bothell',
  'WA',
  '41',
  'F',
  '26',
  '32:49:07',
  '84.59'],
 ['results',
  '88',
  'Tim',
  'Melbourne',
  'Ellensburg',
  'WA',
  '49',
  'M',
  '62',
  '32:49:57',
  '61.33'],
 ['results',
  '89',
  'George',
  'Hitzfeld',
  'Fort',
  'Worth',
  'TX',
  '57',
  'M',
  '63',
  '32:53:30',
  '75.36'],
 ['results',
  '90',
  'Jacob',
  'Royer',
  'Hinesburg',
  'VT',
  '35',
  'M',
  '64',
  '32:54:48',
  '68.29'],
 ['results',
  '91',
  'Jennie',
  'Eyring',
  'Seattle',
  'WA',
  '43',
  'F',
  '27',
  '32:57:44',
  '76.46'],
 ['results',
  '92',
  'Bruce',
  'Cyra',
  'Vashon',
  'Island',
  'WA',
  '59',
  'M',
  '65',
  '33:01:57',
  '73.58'],
 ['results',
  '93',
  'Linda',
  'Samet',
  'Corvallis',
  'OR',
  '51',
  'F',
  '28',
  '33:03:48',
  '87.18'],
 ['results',
  '94',
  'Joseph',
  'Bearss',
  'Wheat',
  'Ridge',
  'CO',
  '47',
  'M',
  '66',
  '33:05:46',
  '56.09'],
 ['results',
  '95',
  'Jon',
  'Armstrong',
  'Seattle',
  'WA',
  '35',
  'M',
  '67',
  '33:07:48',
  '61.81'],
 ['results',
  '96',
  'Oren',
  'Guttmann',
  'Hinesburg',
  'VT',
  '31',
  'M',
  '68',
  '33:08:54',
  '67.64'],
 ['results',
  '97',
  'Panya',
  'Somnhot',
  'Mill',
  'Valley',
  'CA',
  '36',
  'M',
  '69',
  '33:09:55',
  '64.56'],
 ['results',
  '98',
  'Bruce',
  'Kellogg',
  'Shoreline',
  'WA',
  '57',
  'M',
  '70',
  '33:13:07',
  '70.43'],
 ['results',
  '99',
  'Maudianne',
  'Jordan',
  'Issaquah',
  'WA',
  '26',
  'F',
  '29',
  '33:16:30',
  '70.48'],
 ['results',
  '100',
  'David',
  'Mayo',
  'Seattle',
  'WA',
  '41',
  'M',
  '71',
  '33:18:17',
  '68.46'],
 ['results',
  '101',
  'Gary',
  'Dudney',
  'Salinas',
  'CA',
  '64',
  'M',
  '72',
  '33:20:50',
  '65.05'],
 ['results',
  '102',
  'Brianna',
  'Graves',
  'Winthrop',
  'WA',
  '26',
  'F',
  '30',
  '33:24:19',
  '76.33'],
 ['results',
  '103',
  'Joshua',
  'Barringer',
  'Vancouver',
  'BC',
  '34',
  'M',
  '73',
  '33:25:41',
  '66.6'],
 ['results',
  '104',
  'Timothy',
  'Beck',
  'Ellsworth',
  'AFB',
  'SD',
  '39',
  'M',
  '74',
  '33:29:41',
  '58.35'],
 ['results',
  '105',
  'Casey',
  'Osmonovich',
  'Sedona',
  'AZ',
  '49',
  'M',
  '75',
  '33:29:41',
  '60.48'],
 ['results',
  '106',
  'Joachim',
  'Damstrom',
  'Bellevue',
  'WA',
  '44',
  'M',
  '76',
  '33:31:25',
  '65.45'],
 ['results',
  '107',
  'Patrick',
  'Grengs',
  'West',
  'Richland',
  'WA',
  '52',
  'M',
  '77',
  '33:31:36',
  '58.34'],
 ['results',
  '108',
  'Hideko',
  'Opperman',
  'Redmond',
  'WA',
  '49',
  'F',
  '31',
  '33:48:18',
  '74.12'],
 ['results',
  '109',
  'Lisa',
  'Ainley',
  'Okuku',
  'RD3',
  '49',
  'F',
  '32',
  '33:49:22',
  '88.18'],
 ['results',
  '110',
  'Janet',
  'Rosenfeld',
  'Vancouver',
  'BC',
  '51',
  'F',
  '33',
  '33:58:16',
  '74.56'],
 ['Did', 'Not', 'Finish', '-', '53'],
 ['results', '0', 'Brandon', 'Lott', 'Burbank', 'WA', '44', 'M', '0', '69.85'],
 ['results',
  '0',
  'Bill',
  'Gengler',
  'Saint',
  'Paul',
  'MN',
  '63',
  'M',
  '0',
  '69.35'],
 ['results',
  '0',
  'Gretchen',
  'Evaul',
  'San',
  'Diego',
  'CA',
  '40',
  'F',
  '0',
  '80.6'],
 ['results', '0', 'Alex', 'Schiewe', 'Camas', 'WA', '37', 'M', '0', '68.05'],
 ['results', '0', 'Fred', 'Abramowitz', 'Fort', 'CO', '65', 'M', '0', '65.12'],
 ['results',
  '0',
  'Eric',
  'Hodges',
  'Santa',
  'Clarita',
  'CA',
  '68',
  'M',
  '0',
  '61.9'],
 ['results',
  '0',
  'Chihping',
  'Fu',
  'Fremont',
  'CA',
  '51',
  'M',
  '0',
  '0',
  '62.09'],
 ['results',
  '0',
  'Davy',
  'Crockett',
  'Saratoga',
  'Springs',
  'UT',
  '59',
  'M',
  '0',
  '70.6'],
 ['results',
  '0',
  'Letha',
  'Cruthirds',
  'Biloxi',
  'MS',
  '64',
  'F',
  '0',
  '76.98'],
 ['results', '0', 'Mike', 'Burke', 'Portland', 'OR', '67', 'M', '0', '75.84'],
 ['results',
  '0',
  'Scott',
  'Lesieur',
  'Woodland',
  'WA',
  '45',
  'M',
  '0',
  '64.28'],
 ['results',
  '0',
  'Trevor',
  'Griffith',
  'Issaquah',
  'WA',
  '40',
  'M',
  '0',
  '61.61'],
 ['results', '0', 'Mike', 'James', 'Juneau', 'AK', '46', 'M', '0', '66.49'],
 ['results',
  '0',
  'Steven',
  'Payette',
  'Woodacre',
  'CA',
  '53',
  'M',
  '0',
  '60.5'],
 ['results',
  '0',
  'Jeffrey',
  'Edwards',
  'Queensbury',
  'NY',
  '47',
  'M',
  '0',
  '67.43'],
 ['results',
  '0',
  'Bill',
  'Geist',
  'Los',
  'Alamos',
  'NM',
  '46',
  'M',
  '0',
  '71.95'],
 ['results', '0', 'Brett', 'Bauer', 'Bothell', 'WA', '36', 'M', '0', '72.22'],
 ['results', '0', 'Tracy', 'Brown', 'Seattle', 'WA', '56', 'F', '0', '71.39'],
 ['results',
  '0',
  'Charles',
  'South',
  'Rochester',
  'WA',
  '48',
  'M',
  '0',
  '58.93'],
 ['results',
  '0',
  'Christopher',
  'Calzetta',
  'Monterey',
  'CA',
  '35',
  'M',
  '0',
  '91.53'],
 ['results',
  '0',
  'Michael',
  'McNeill',
  'Richland',
  'WA',
  '35',
  'M',
  '0',
  '79.56'],
 ['results',
  '0',
  'Bradford',
  'Lombardi',
  'Death',
  'Valley',
  'CA',
  '48',
  'M',
  '0',
  '76.24'],
 ['results',
  '0',
  'Jennifer',
  'Shultis',
  'Portland',
  'OR',
  '48',
  'F',
  '0',
  '76.21'],
 ['results',
  '0',
  'Scott',
  'Dunlap',
  'Woodside',
  'CA',
  '48',
  'M',
  '0',
  '83.25'],
 ['results',
  '0',
  'William',
  'Onate',
  'Woodland',
  'CA',
  '41',
  'M',
  '0',
  '68.99'],
 ['results',
  '0',
  'Karl',
  'Jensen',
  'North',
  'Vancouver',
  'BC',
  '67',
  'M',
  '0',
  '69.14'],
 ['results',
  '0',
  'Michele',
  'Pettinger',
  'Seattle',
  'WA',
  '47',
  'F',
  '0',
  '69.97'],
 ['results',
  '0',
  'Carole',
  'Holley',
  'Anchorage',
  'AK',
  '42',
  'F',
  '0',
  '76.86'],
 ['results',
  '0',
  'Mike',
  'Kuhlmann',
  'Lakewood',
  'WA',
  '67',
  'M',
  '0',
  '57.16'],
 ['results', '0', 'Chad', 'Wolf', 'Mason', 'OH', '28', 'M', '0', '69.84'],
 ['results',
  '0',
  'Rachel',
  'Dillon',
  'Snoqualmie',
  'WA',
  '38',
  'F',
  '0',
  '85.28'],
 ['results',
  '0',
  'Alex',
  'Wiener',
  'Palm',
  'Beach',
  'Gardens',
  'FL',
  '36',
  'M',
  '0',
  '74.3'],
 ['results',
  '0',
  'Taryn',
  'Graham',
  'North',
  'Bend',
  'WA',
  '38',
  'F',
  '0',
  '64.37'],
 ['results',
  '0',
  'Chris',
  'Bellevie',
  'Kirkland',
  'WA',
  '45',
  'M',
  '0',
  '53.93'],
 ['results', '0', 'Tho', 'Le', 'Issaquah', 'WA', '36', 'M', '0', '63.75'],
 ['results',
  '0',
  'Jennifer',
  'Maccormack',
  'Seattle',
  'WA',
  '46',
  'F',
  '0',
  '72.16'],
 ['results', '0', 'Todd', 'Evans', 'Newberg', 'OR', '48', 'M', '0', '64.38'],
 ['results',
  '0',
  'Jeremy',
  'Hinshaw',
  'Anchorage',
  'AK',
  '42',
  'M',
  '0',
  '68.44'],
 ['results',
  '0',
  'Matt',
  'Newton',
  'Richland',
  'WA',
  '44',
  'M',
  '0',
  '0',
  '67.11'],
 ['results',
  '0',
  'Alexander',
  'Stroup',
  'San',
  'Leandro',
  'CA',
  '42',
  'M',
  '0',
  '60.76'],
 ['results',
  '0',
  'Roger',
  'Levesque',
  'Vashon',
  'WA',
  '36',
  'M',
  '0',
  '86.56'],
 ['results', '0', 'John', 'Wros', 'Girdwood', 'AK', '28', 'M', '0', '86.26'],
 ['results', '0', 'Mark', 'Lahaie', 'Olympia', 'WA', '57', 'M', '0', '51.85'],
 ['results', '0', 'Jade', 'Carter', 'Victoria', 'BC', '43', 'M', '0', '61.43'],
 ['results', '0', 'Tess', 'Harvey', 'Brighton', 'MA', '27', 'F', '0', '75.71'],
 ['results',
  '0',
  'Sara',
  'Foster',
  'Denver',
  'CO',
  '42',
  'F',
  '0',
  '0',
  '69.45'],
 ['results', '0', 'Rob', 'Mann', 'Monterey', 'CA', '45', 'M', '0', '65.1'],
 ['results',
  '0',
  'Dale',
  'Peterson',
  'Snoqualmie',
  'WA',
  '45',
  'M',
  '0',
  '79.85'],
 ['results',
  '0',
  'Steve',
  'Berardi',
  'Seattle',
  'WA',
  '34',
  'M',
  '0',
  '89.36'],
 ['results',
  '0',
  'Kimberley',
  'Teshima',
  'Newberry',
  'Los',
  'Angeles',
  'CA',
  '36',
  'F',
  '0',
  '60.62'],
 ['results',
  '0',
  'Scott',
  'Jensen',
  'Fall',
  'City',
  'WA',
  '34',
  'M',
  '0',
  '61.1'],
 ['results',
  '0',
  'Linsey',
  'Laplant',
  'North',
  'Bend',
  'WA',
  '41',
  'F',
  '0',
  '69.01'],
 ['results', '0', 'Scott', 'Crain', 'Seattle', 'WA', '38', 'M', '0', '58.7'],
 ['Did', 'Not', 'Start', '-', '1'],
 ['results',
  '0',
  'Keith',
  'Shishido',
  'Corbett',
  'OR',
  '39',
  'M',
  '0',
  '77.1']]

In [17]:

#find index of Did Not Finish and Did Not Start
def find_idx(content):
    indices = []
    for idx, row in enumerate(content):
        if row[0] == 'Did':
            indices.append(idx)
    return indices

In [19]:
indices = find_idx(content)
indices

[109, 163]

In [20]:
finished = content[0:109]

In [21]:
DNF = content[111:163]

In [22]:
DNS = content[163:]

In [25]:
def make_finisher_df(content, idx_1):
    '''take in runner row content and the index
    indicating the end of the finishers list (idx_1).  
    return dataframe with the male and female times.'''
    finished = content[0:idx_1]
    gender = []
    times = []
    for row in finished:
        times.append(row[-2])
        gender.append(row[-4])
    df = pd.DataFrame({'Gender': gender, 'Time': times})
    df['Time'] = df['Time'].str.split(':')
    df['Time'] = df['Time'].apply(lambda x: int(x[0]) * 60 + int(x[1]) + float(x[2])/60)
    return df

In [26]:
cascade1002017 = make_finisher_df(content, indices[0])

In [27]:
males = cascade1002017[cascade1002017['Gender'] == 'M']

In [28]:
females = cascade1002017[cascade1002017['Gender'] == 'F']

In [29]:
females['Time'].mean()
females['Time'].sem()

32.17009942137171

In [30]:
males['Time'].mean()

1762.6929824561405

In [33]:
#t-test on males vs females finishing times
cascade_ttest2017 = ttest_ind(females['Time'], males['Time'], equal_var=False)

Ttest_indResult(statistic=0.8494337393385061, pvalue=0.3985578448626709)

In [34]:
trace1 = [go.Bar(
    x=['Male', 'Female'],
    y=[males['Time'].mean(), females['Time'].mean()],
    name='Cascade Crest 100',
    error_y=dict(
        type='data',
        array=[males['Time'].sem(), females['Time'].sem()],
        visible=True
    )
)
         ]

In [35]:

py.iplot(trace1, filename='error-bar-bar')

In [37]:
def make_DNF_counts(DNF):
    '''Takes in the DNF list as an input
    and returns the male and female proportional counts.'''
    males = 0
    females = 0
    for row in DNF:
        if row[-3] == 'M':
            males +=1
        else:
            females += 1
    return males/len(DNF), females/len(DNF)

In [44]:
pct_male, pct_female = make_DNF_counts(DNF)

In [39]:
len(females)/len(content)

0.2

In [41]:
len(males)/len(content)

0.46060606060606063

In [45]:
len(males) + pct_male*len(DNF)

113.0

In [46]:
len(females) + pct_female*len(DNF)

48.0

In [48]:
48/(113+48) #30 pct of the entire field is female, 29% of DNFs are female

0.2981366459627329

In [49]:
113/(113+48) #70 pct of the entire field is male, 71% of the DNFs are male

0.7018633540372671

In [51]:
pct_female

0.28846153846153844

In [52]:
pct_male

0.7115384615384616

In [53]:
cc100_2018_url = root_url + '/results_event.aspx?did=51691'

In [54]:
cols_2, content_2 = get_results(cc100_2018_url)

In [55]:
find_idx(content_2)

[]

In [181]:
cascade1002018 = make_finisher_df(content_2, len(content_2))
len(cascade1002018)

146

In [60]:
males_2018 = cascade1002018[cascade1002018['Gender'] == 'M']

In [61]:
females_2018 = cascade1002018[cascade1002018['Gender'] == 'F']

In [62]:
#t-test on males vs females finishing times
cascade_ttest2018 = ttest_ind(females_2018['Time'], males_2018['Time'], equal_var=False)

Ttest_indResult(statistic=0.16824113676306918, pvalue=0.8674406192664971)

In [176]:
trace4 = [go.Bar(
    x=['Male', 'Female'],
    y=[males_2018['Time'].mean(), females_2018['Time'].mean()],
    name='Cascade Crest 100 2018',
    error_y=dict(
        type='data',
        array=[males_2018['Time'].sem(), females_2018['Time'].sem()],
        visible=True
    )
)
         ]

In [177]:
py.iplot(trace4, filename='Cascade100_2018')

In [63]:
RRR100_2018_tortoises = root_url + '/results_event.aspx?did=60025'

In [64]:
cols_RRR, content_RRR = get_results(RRR100_2018_tortoises)

In [65]:
find_idx(content_RRR)

[]

In [66]:
RRR2018_tortoises = make_finisher_df(content_RRR, len(content_RRR))

In [67]:
male_tortoises = RRR2018_tortoises[RRR2018_tortoises['Gender'] == 'M']

In [68]:
female_tortoises = RRR2018_tortoises[RRR2018_tortoises['Gender'] == 'F']

In [69]:
RRR_tort_ttest = ttest_ind(female_tortoises['Time'], male_tortoises['Time'], equal_var=False)

Ttest_indResult(statistic=2.129305498390613, pvalue=0.039445612238984275)

In [178]:
len(RRR2018_tortoises)

166

In [79]:
trace2 = go.Bar(
    x=['Male', 'Female'],
    y=[male_tortoises['Time'].mean(), female_tortoises['Time'].mean()],
    name='RRR 100',
    error_y=dict(
        type='data',
        array=[male_tortoises['Time'].sem(), female_tortoises['Time'].sem()],
        visible=True
    )
)

In [80]:
data=go.Data([trace2])
layout=go.Layout(title="RRR Tortoises 100", xaxis={'title':'Gender'}, yaxis={'title':'Time(minutes)'})
figure=go.Figure(data=data,layout=layout)

/anaconda3/lib/python3.6/site-packages/plotly/graph_objs/_deprecations.py:39: DeprecationWarning:

plotly.graph_objs.Data is deprecated.
Please replace it with a list or tuple of instances of the following types
  - plotly.graph_objs.Scatter
  - plotly.graph_objs.Bar
  - plotly.graph_objs.Area
  - plotly.graph_objs.Histogram
  - etc.

In [81]:
py.iplot(figure, filename='error-bar-RRR', layout=layout)

In [82]:
hardrock100_url = root_url + '/results_event.aspx?did=51281'

In [83]:
cols_HR, content_HR = get_results(hardrock100_url)

In [86]:
indices = find_idx(content_HR)

In [182]:
HR_finishers = make_finisher_df(content_HR, indices[0])
len(HR_finishers)

113

In [91]:
DNF_HR = content_HR[indices[0]:]

In [89]:
HR_males = HR_finishers[HR_finishers["Gender"] == 'M']
HR_females = HR_finishers[HR_finishers["Gender"] == 'F']

In [90]:
HR_ttest = ttest_ind(HR_females['Time'], HR_males['Time'], equal_var=False)

Ttest_indResult(statistic=-0.1543399387113303, pvalue=0.8799521753311719)

In [96]:
def make_DNF_counts2(DNF):
    '''Takes in the DNF list as an input
    and returns the male and female proportional counts.'''
    males = 0
    females = 0
    for row in DNF:
        if row[-4] == 'M':
            males +=1
        else:
            females += 1
    return males/len(DNF), females/len(DNF)

In [97]:
DNF_HR_male, DNF_HR_female = make_DNF_counts2(DNF_HR)

In [98]:
DNF_HR_female

0.09090909090909091

In [99]:
DNF_HR_male

0.9090909090909091

In [100]:
len(HR_females)/len(HR_finishers)

0.09734513274336283

In [101]:
len(HR_males)/len(HR_finishers)

0.9026548672566371

In [102]:
HURT100url = root_url + '/results_event.aspx?did=56682'

In [103]:
cols_HURT, content_HURT = get_results(HURT100url)

In [106]:
idx_hurt = find_idx(content_HURT)
idx_hurt

[68, 130]

In [183]:
HURT_finishers = make_finisher_df(content_HURT, idx_hurt[0] )
len(HURT_finishers)

68

In [109]:
HURT_males = HURT_finishers[HURT_finishers["Gender"] == 'M']
HURT_females = HURT_finishers[HURT_finishers["Gender"] == 'F']

In [111]:
HURT_ttest = ttest_ind(HURT_females['Time'], HURT_males['Time'], equal_var=False)

Ttest_indResult(statistic=1.8014922204184567, pvalue=0.08120005920076435)

In [152]:
JJ_url = root_url + '/results_event.aspx?did=53326'

In [153]:
JJ_cols, JJ_content = get_results(JJ_url)

In [154]:
idx_JJ = find_idx(JJ_content)

In [184]:
JJ_finishers = make_finisher_df(JJ_content, idx_JJ[0])
len(JJ_finishers)

367

In [156]:
JJ_males = JJ_finishers[JJ_finishers['Gender'] == 'M']
JJ_females = JJ_finishers[JJ_finishers['Gender'] == 'F']

In [157]:
JJ_ttest = ttest_ind(JJ_females['Time'], JJ_males['Time'], equal_var=False)
JJ_ttest

Ttest_indResult(statistic=5.590100276884938, pvalue=5.351719513378266e-08)

In [158]:
JJ_DNF = JJ_content[idx_JJ[0]:]

In [159]:
JJ_DNF_M, JJ_DNF_F = make_DNF_counts2(JJ_DNF)

In [163]:
JJ_DNF_M

0.7142857142857143

In [161]:
((JJ_DNF_M*len(JJ_DNF))+len(JJ_males))/len(JJ_content)

0.6820603907637656

In [162]:
((JJ_DNF_F*len(JJ_DNF))+ len(JJ_females))/len(JJ_content)

0.31793960923623443

In [121]:
Orcas_url = root_url + '/results_event.aspx?did=47664'

In [122]:
Orcas_cols, Orcas_content = get_results(Orcas_url)

In [129]:
idx_Orcas = find_idx(Orcas_content)
idx_Orcas

[68, 91]

In [125]:
Orcas_finishers = make_finisher_df(Orcas_content, idx_Orcas[0])

In [126]:
Orcas_males = Orcas_finishers[Orcas_finishers['Gender'] == 'M']
Orcas_females = Orcas_finishers[Orcas_finishers['Gender'] == 'F']

In [128]:
Orcas_ttest = ttest_ind(Orcas_females['Time'], Orcas_males['Time'], equal_var=False)
Orcas_ttest

Ttest_indResult(statistic=1.0244482021226133, pvalue=0.3115368992817924)

In [171]:
#kruskal-wallis test of median differences
KW_Orcas = kruskal(Orcas_females['Time'], Orcas_males['Time'])
KW_Orcas

KruskalResult(statistic=0.28208214231983675, pvalue=0.5953397432309312)

In [175]:
len(Orcas_finishers)

68

In [130]:
DNF_Orcas = Orcas_content[idx_Orcas[0]:]

In [136]:
DNF_M_ORCAS, DNF_F_ORCAS = make_DNF_counts(DNF_Orcas)

In [134]:
len(Orcas_males)/len(Orcas_finishers)

0.75

In [135]:
len(Orcas_females)/len(Orcas_finishers)

0.25

In [139]:
(DNF_F_ORCAS*len(DNF_Orcas) + len(Orcas_females))/len(Orcas_content)

0.3163265306122449

In [140]:
(DNF_M_ORCAS*len(DNF_Orcas) + len(Orcas_males))/len(Orcas_content)

0.6836734693877551

In [172]:
trace3 = go.Bar(
    x=['Male', 'Female'],
    y=[Orcas_males['Time'].mean(), Orcas_females['Time'].mean()],
    name='RRR 100',
    error_y=dict(
        type='data',
        array=[Orcas_males['Time'].sem(), Orcas_females['Time'].sem()],
        visible=True
    )
)

In [173]:
data=go.Data([trace3])
layout=go.Layout(title="Orcas 100", xaxis={'title':'Gender'}, yaxis={'title':'Time(minutes)'})
figure=go.Figure(data=data,layout=layout)

/anaconda3/lib/python3.6/site-packages/plotly/graph_objs/_deprecations.py:39: DeprecationWarning:

plotly.graph_objs.Data is deprecated.
Please replace it with a list or tuple of instances of the following types
  - plotly.graph_objs.Scatter
  - plotly.graph_objs.Bar
  - plotly.graph_objs.Area
  - plotly.graph_objs.Histogram
  - etc.

In [174]:
py.iplot(figure, filename='error-bar-Orcas100', layout=layout)