In [31]:
import pandas as pd
import json

In [43]:
ws2015 = pd.read_json('scraped_races/WSER2015.csv')
jj2011 = pd.read_json('scraped_races/JJ2011.csv')
athletes = pd.read_csv('athlete_dataframe/athletes_features')

In [77]:
athletes.head()

   Unnamed: 0  Unnamed: 0.1  Age  AgeRank Gender      Id    Rank  race_total
0           0             0   39   0.7174      M  412317  0.6806          23
1           0             0   49   0.8132      M  484146  0.6987           9
2           0             0   51   0.8272      M   16991  0.7145          17
3           0             0   37   0.8995      M  449859  0.8957          17
4           0             0   40   0.6807      M  335053  0.6522           8

In [34]:
jj2011_c = jj2011.drop(['photo_count', 'firstname', 'lastname', 'drilldown', 'time', 'formattime', 
                        'race_count', 'bib'
                       , 'age_rank', 'prior_count', 'city', 'state', 'agegroup', 'place', 
                        'gender_place'], axis=1)

In [61]:
race_db = pd.read_csv('race_master/master_list')
race_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9574 entries, 0 to 9573
Data columns (total 7 columns):
Unnamed: 0        9574 non-null int64
Unnamed: 0.1      9574 non-null int64
age               9574 non-null int64
gender            9574 non-null object
participant_id    9574 non-null int64
runner_rank       9574 non-null float64
status            9574 non-null int64
dtypes: float64(1), int64(5), object(1)
memory usage: 523.6+ KB

In [79]:
for race in race_db.participant_id:
    for athlete in athletes.Id:
        if race == athlete:
            race_db['Age_Rank'] = athletes['AgeRank']
            race_db['Gender_Rank'] = athletes['Rank']
            race_db['Total_races'] = athletes['race_total']
        else:
            continue

In [80]:
race_db.head()

,Unnamed: 0,Unnamed: 0.1,age,gender,participant_id,runner_rank,status,Age_Rank,Gender_Rank,Total_races
0,0,0,26,M,7148,88.39,1,0.7174,0.6806,23
1,1,1,33,M,221721,90.00,1,0.8132,0.6987,9
2,2,2,43,M,20020,83.63,1,0.8272,0.7145,17
3,3,3,36,M,25441,73.22,1,0.8995,0.8957,17
4,4,4,33,M,22562,87.77,1,0.6807,0.6522,8